In [1]:
from time import time,ctime,sleep

t = time()
print("start time: ", ctime(t))
sleep(60)
t = time()
print("End time: ",ctime(t))

start time:  Fri Apr 10 10:54:25 2020
End time:  Fri Apr 10 10:55:25 2020

In [33]:
mn = int(input("Enter the number of matrix: "))
row = int(input("Enter the number of rows in each matrix: "))
col = int(input("Enter the number of columns in each matrix: "))
print ("The number of matrix is %i" %(mn) + ", with dimension %i" %(row) + "x%i" %(col))
print ("--------------------------------------------")

matrix = []
for m in range(mn):
    rd = []
    for r in range(row):
        cd = []
        for c in range(col):
            num = int(input("For matrix %i" %(m+1) + ", enter integer in row %i, " %(r+1) + " column %i : " %(c+1)))
            cd.append(num)
        rd.append(cd)
    print ("--------------------------------------------")
    matrix.append(rd)

matrix

Enter the number of matrix: 2
Enter the number of rows in each matrix: 2
Enter the number of columns in each matrix: 2
The number of matrix is 2, with dimension 2x2
--------------------------------------------
For matrix 1, enter integer in row 1,  column 1 : 1
For matrix 1, enter integer in row 1,  column 2 : 24
For matrix 1, enter integer in row 2,  column 1 : 5
For matrix 1, enter integer in row 2,  column 2 : 23
--------------------------------------------
For matrix 2, enter integer in row 1,  column 1 : 5
For matrix 2, enter integer in row 1,  column 2 : 3
For matrix 2, enter integer in row 2,  column 1 : 2
For matrix 2, enter integer in row 2,  column 2 : 1
--------------------------------------------

[[[1, 24], [5, 23]], [[5, 3], [2, 1]]]

In [34]:
mylist = ['10', '1,000', '51,000', '500', '63,000']

newlist = []
for n in mylist:
    temp = n.replace(",",'')
    newlist.append(temp)
newlist

['10', '1000', '51000', '500', '63000']

In [39]:
check = ['"werwe"', 'wqe"wqe','wedfgd']

new = []
for c in check:
    new.append(c.replace('"',''))
new

['werwe', 'wqewqe', 'wedfgd']

In [127]:
df1 = pd.DataFrame({'ids': [101,102,103],'vals': ['apple','java','python']})
df1

   ids    vals
0  101   apple
1  102    java
2  103  python

In [128]:
df = pd.DataFrame({'TEXT_DATA': [u'apple a day keeps doctor away', u'apple tree in my farm', u'python is not new language', 
                                 u'Learn python programming', u'java is second language']})
df

                       TEXT_DATA
0  apple a day keeps doctor away
1          apple tree in my farm
2     python is not new language
3       Learn python programming
4        java is second language

In [140]:
extr = '|'.join(x for x in df1['vals'])
df['vals'] = df['TEXT_DATA'].str.extract('('+ extr + ')', expand=False)
newdf = pd.merge(df, df1, on='vals', how='left')
newdf[['TEXT_DATA','ids']]

                       TEXT_DATA  ids
0  apple a day keeps doctor away  101
1          apple tree in my farm  101
2     python is not new language  103
3       Learn python programming  103
4        java is second language  102

In [150]:
df['new'] = df.TEXT_DATA.apply(lambda x: 'apple' in str(x))
df

                       TEXT_DATA    vals    new
0  apple a day keeps doctor away   apple   True
1          apple tree in my farm   apple   True
2     python is not new language  python  False
3       Learn python programming  python  False
4        java is second language    java  False

In [97]:
for i in df1['vals']:
    print (i)

apple
java
python

In [151]:
newdf

                       TEXT_DATA    vals  ids
0  apple a day keeps doctor away   apple  101
1          apple tree in my farm   apple  101
2     python is not new language  python  103
3       Learn python programming  python  103
4        java is second language    java  102

In [154]:
intList = [1, 5, 4, 9, 7, 2, 15]
def manipfunc(a):
    j = a.index(2)
    print ("j: ",j)
    a.append(6.08)
    print ("intList: ",a)
    a.remove(4)
    print ("intList: ",a)
    a.insert(2,67)
    print ("intList: ",a)
    g = a.pop(3)
    print ("g: ",g)
#     print(a)
#     print(j, g)
manipfunc(intList)

j:  5
intList:  [1, 5, 4, 9, 7, 2, 15, 6.08]
intList:  [1, 5, 9, 7, 2, 15, 6.08]
intList:  [1, 5, 67, 9, 7, 2, 15, 6.08]
g:  9

In [173]:
pr_list = ['1 FO-','2 IA-']
df = pd.DataFrame({'PartNumber':['ABC','DEF','1 FO-BLABLA','2 IA-EXAMPLE']})

extr = '|'.join(x for x in pr_list)
df['Prefix'] = df['PartNumber'].str.extract('('+ extr + ')', expand=False).fillna('')
df['PartNumber'] = df['PartNumber'].str.replace('|'.join(pr_list),'')
df
# df['Prefix']=df.PartNumber.str.extract(r'({})'.format('|'.join(pr_list))).fillna('')
# df.PartNumber=df.PartNumber.str.replace('|'.join(pr_list),'')
# print(df)

  PartNumber Prefix
0        ABC
1        DEF
2     BLABLA  1 FO-
3    EXAMPLE  2 IA-

In [9]:
entries = []
total_sum = 0

while True:
    numbers = input("Enter a number: ")
    if numbers == "":
        break
    else:
        entries.append(float(numbers))
total_sum = sum(entries)
print("Total = ",total_sum)

Enter a number: 4
Enter a number: 6
Enter a number: 8
Enter a number:
Total =  18.0

In [66]:
import re

str_test = 'This is a sample text NRC234456789 and this is another case AZN.1.Z.3.4.S.6.7.8.9 and this another case BSA 123 456 789 and final case SSR/789456123'
regex = re.findall("([A-Z]{3})([A-Z0-9.\s\/]{2,})",str_test)
result = []
for r in regex:
    result.append(r[0]+("".join(re.sub("([^\d\w])","",str(r[1])).replace("Z","2").replace("S","5"))))

print (result)

['NRC234456789', 'AZN123456789', 'BSA123456789', 'SSR789456123']

In [86]:
from bs4 import BeautifulSoup
import requests

link = "https://www.nowtv.com/stream/all-movies"
r = requests.get(link)
page = BeautifulSoup(r.content, "html.parser")

for i,dd in enumerate(page.find_all("div", {"class":"ib-card-info-container"})):
    title = dd.find(class_="ib-card-title ib-colour-v1_white").text.strip()
    date = dd.find(class_="ib-card-availability-container ib-colour-20Grey").text.strip()
    print(i+1,title + " --> " + date)

1 Star Trek II: The Wrath Of Khan --> Streaming until 30 Jun 2019
2 Star Trek V: The Final Frontier --> Streaming until 30 Jun 2019
3 Return of The Seven --> Streaming until 30 Sep 2019
4 The Matrix Reloaded --> Streaming until 13 Nov 2019
5 Watchmen --> Streaming until 06 Jun 2019
6 Five Easy Pieces --> Streaming until 31 Dec 2019
7 Hitman --> Streaming until 30 Jun 2019
8 The Object of My Affection --> Streaming until 09 Aug 2019
9 Beverly Hills Cop II --> Streaming until 30 Jun 2019
10 The Prince Of Tides --> Streaming until 31 Dec 2019
11 Steel Magnolias --> Streaming until 30 Sep 2019
12 Antwone Fisher --> Streaming until 30 Jun 2019
13 Amistad --> Streaming until 31 Jul 2019
14 1984 --> Streaming until 31 Oct 2019
15 The Odd Couple --> Streaming until 30 Sep 2019
16 Donnie Brasco --> Streaming until 30 Jun 2019
17 John Carpenter's Ghosts Of Mars --> Streaming until 20 Oct 2019
18 1941 --> Streaming until 30 Jun 2019
19 Warden Of Red Rock --> Streaming until 31 Dec 2019
20 Mighty Morphin Power Rangers:... --> Streaming until 30 Jun 2019
21 Avengers Confidential: Black... --> Streaming until 03 Sep 2019
22 Alive --> Streaming until 30 Jun 2019
23 Sucker Free City --> Streaming until 31 Dec 2019
24 Mission: Impossible III --> Streaming until 05 Feb 2020
25 West Side Story --> Streaming until 30 Apr 2019
26 An Officer And A Gentleman --> Streaming until 31 Oct 2019
27 Ace In The Hole --> Streaming until 30 Jun 2019
28 Ronin --> Streaming until 30 Apr 2019
29 Stone Of Destiny --> Streaming until 03 Jun 2023
30 High Noon --> Streaming until 31 Jan 2020
31 Star Trek: Insurrection --> Streaming until 30 Jun 2019
32 Star Trek VI: The Undiscovered... --> Streaming until 30 Jun 2019
33 Guns Of The Magnificent Seven --> Streaming until 30 Sep 2019
34 Breakdown (1997) --> Streaming until 31 Dec 2019
35 Hustle & Flow --> Streaming until 19 Jun 2019
36 Elmore Leonard's Gold Coast --> Streaming until 31 Dec 2019
37 My Best Friend's Wedding --> Streaming until 30 Sep 2019
38 Hell Is For Heroes --> Streaming until 30 Sep 2019
39 Heartburn --> Streaming until 31 May 2019
40 Trapped in Paradise --> Streaming until 30 Jun 2019
41 The Birds --> Streaming until 31 May 2019
42 Notorious --> Streaming until 30 Jun 2019
43 Erin Brockovich --> Streaming until 31 Dec 2019
44 Aquamarine --> Streaming until 30 Jun 2019
45 Pet Sematary --> Streaming until 30 Jun 2019
46 Fatal Attraction --> Streaming until 30 Jun 2019
47 Star Trek III: The Search For... --> Streaming until 30 Jun 2019
48 Happy Gilmore --> Streaming until 30 Jun 2019
49 White Christmas --> Streaming until 31 Aug 2019
50 Beverly Hills Cop --> Streaming until 30 Jun 2019
51 Taps --> Streaming until 30 Jun 2019
52 To Sir With Love --> Streaming until 30 Sep 2019
53 This Christmas --> Streaming until 30 Sep 2019
54 Airheads --> Streaming until 01 Jul 2019
55 Escape From Alcatraz --> Streaming until 31 Jul 2019
56 Star Trek Generations --> Streaming until 30 Jun 2019
57 In Harm's Way --> Streaming until 31 Jul 2019
58 The Great Wall: Special --> Streaming until 07 Feb 2020
59 Star Trek --> Streaming until 30 Sep 2019
60 The Banger Sisters --> Streaming until 30 Jun 2019

In [50]:
from bs4 import BeautifulSoup
import requests, re

url = "https://www.sec.gov/Archives/edgar/data/20/000095012310024631/c97665e10vk.htm"

page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

for s in soup.find_all("td", attrs={"align":"center"}):
    zipcode = re.findall("(\d{5}-\d{4})",str(s))
    if zipcode != []:
        print (zipcode)

['08071-0888']

In [58]:
td = '<td align="center" valign="top">08071-0888</td>'

zipc = re.findall("\b[0-9]{5}(?:-[0-9]{4})?\b",td)
print (zipc)

[]

In [59]:
board = [[0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0],
         [0,0,0,0,0,0,0,0,0]]

def print_board(bo):
    for i in range(len(bo)):
        if i % 3 == 0 and i != 0:
            print("- - - + - - - + - - -")

        for j in range(len(bo[0])):
            if j % 3 == 0 and j != 0:
                print("| ", end="")

            if j == 8:
                print(bo[i][j])
            else:
                print(str(bo[i][j]) + " ", end="")
                
print_board(board)

0 0 0 | 0 0 0 | 0 0 0
0 0 0 | 0 0 0 | 0 0 0
0 0 0 | 0 0 0 | 0 0 0
- - - + - - - + - - -
0 0 0 | 0 0 0 | 0 0 0
0 0 0 | 0 0 0 | 0 0 0
0 0 0 | 0 0 0 | 0 0 0
- - - + - - - + - - -
0 0 0 | 0 0 0 | 0 0 0
0 0 0 | 0 0 0 | 0 0 0
0 0 0 | 0 0 0 | 0 0 0

In [94]:
number = float(input("Enter a number between -100 and 200: "))
while number<-100 or number>200:
    number = float(input("Enter a number between -100 and 200: "))
print ("Thank you")

Enter a number between -100 and 200: 455
Enter a number between -100 and 200: 4
Thank you

In [95]:
while True:
    average_temp = int(input('Number: '))
    if 200 > average_temp > -100:
        break
    else:
        print('Enter a number between -100 and 200!')

Number: 1011
Enter a number between -100 and 200!
Number: -101
Enter a number between -100 and 200!
Number: 3

In [98]:
numbers = []
while True:
    number = input("number: ")
    try:
        number = int(number)
        if number not in numbers:
            numbers.append(number)
    except:
        break   

print (numbers)

number: 3
number: 5
number: 1
number: e
[3, 5, 1]

In [100]:
num = 3.1
int(str(num).replace(".",""))

31

In [110]:
def name_check(x):
    pattern1=r'[A-Za-z]'
    if re.match(pattern1,x):
        return x
    else:
        print ('This is not your name.')
        return give_name()
def year_check(y):
    pattern2=r'(\d)'
    if re.match(pattern2,y):
        return y
    else:
        print ('This is not your year of birth.')
        return give_year()
def printing(x,y):
    try:
        print('Hey,',x,',in',int(y)+100,'year you will have 100 years.')
    except:
        print ('An error occured.')
def give_name():
    x=str(input('Enter your name: '))
    return name_check(x)
def give_year():
    y=input('Enter your year of birth: ')
    return year_check(y)
def program():
    x=give_name()
    y=give_year()
    printing(x,y)
program()

Enter your name: Budi
Enter your year of birth: wefw
This is not your year of birth.
Enter your year of birth: weq
This is not your year of birth.
Enter your year of birth: asd
This is not your year of birth.
Enter your year of birth: 12
Hey, Budi ,in 112 year you will have 100 years.

In [111]:
import pandas as pd
data = ({"items":["item1","item2","item3","item4","item5"],"groups":["A","B","C","B","A"],
         "ranks":[1,2,2,1,2]})
df = pd.DataFrame(data)
df

   items groups  ranks
0  item1      A      1
1  item2      B      2
2  item3      C      2
3  item4      B      1
4  item5      A      2

In [118]:
import numpy as np
df_new = pd.pivot_table(df, values='items', index=['groups'],columns=['ranks'], aggfunc=np.sum, fill_value='')
print(df_new)

ranks       1      2
groups
A       item1  item5
B       item4  item2
C              item3

In [126]:
number = input("Please guess what number I'm thinking of. HINT: it's between 1 and 30: ")
try:
    number = int(number)
except:
    pass
print(type(number))

Please guess what number I'm thinking of. HINT: it's between 1 and 30: w
<class 'str'>

In [129]:
colors = ["blue","red"]
cars = ["mustang","camaro","tacoma"]

for color in colors:
    for car in cars:
        print(color, car)

blue mustang
blue camaro
blue tacoma
red mustang
red camaro
red tacoma

In [135]:
listA = [{'name': 'ColorR', 'color': 'Red'}, {'name': 'ColorB', 'color': 'Blue'}, {'name': 'ColorP', 'color': 'Purple'}, {'name': 'ColorO', 'color': 'Orange'}, {'name': 'ColorW', 'color': 'White'}]
listB = [{'name': 'ColorR', 'color': 'Red'}, {'name': 'ColorP', 'color': 'Purple'}, {'name': 'ColorO', 'color': 'Orange'}, {'name': 'ColorW', 'color': 'White'}]

for A in listA:
    if A not in listB:
        print(A)

{'name': 'ColorB', 'color': 'Blue'}

In [172]:
import pandas as pd
import re

chicago_crime = pd.read_csv("df1.csv")
chicago_crime['community_name'] = [re.findall("(\w+).?",cn) for cn in chicago_crime['community_name']]
chicago_crime

,community_area,year,theft,battery,criminal_damage,narcotics,assault,other_offense,burglary,deceptive_practice,motor_vehicle_theft,robbery,community_name
0,1.0,2012,1043.0,991.0,500.0,485.0,340.0,361.0,212.0,152.0,142.0,202.0,"[Chicago, Lawn]"
1,1.0,2013,1004.0,866.0,534.0,362.0,303.0,318.0,187.0,166.0,91.0,136.0,"[Chicago, Lawn]"
2,1.0,2014,811.0,776.0,376.0,278.0,257.0,248.0,174.0,215.0,115.0,113.0,"[Rogers, Park]"

In [173]:
redfin = pd.read_csv("df2.csv")
redfin['Region'] = [re.findall("(\w+).?",rg) for rg in redfin['Region']]
redfin

           Region  year  price_change  price_label
0   [Chicago, IL]  2012      0.082864            1
1   [Chicago, IL]  2013      0.074208            1
2  [Rogers, Park]  2014      0.063483            0

In [178]:
idx, datavalue = [], []
for i,dv in enumerate(chicago_crime['community_name']):
    for d in dv:
        if d in redfin['Region'][i]:   
            if i not in idx:
                idx.append(i)
                datavalue.append(d)
chicago_crime['merge_ref'] = datavalue
redfin['merge_ref'] = datavalue
chicago_crime

,community_area,year,theft,battery,criminal_damage,narcotics,assault,other_offense,burglary,deceptive_practice,motor_vehicle_theft,robbery,community_name,merge_ref
0,1.0,2012,1043.0,991.0,500.0,485.0,340.0,361.0,212.0,152.0,142.0,202.0,"[Chicago, Lawn]",Chicago
1,1.0,2013,1004.0,866.0,534.0,362.0,303.0,318.0,187.0,166.0,91.0,136.0,"[Chicago, Lawn]",Chicago
2,1.0,2014,811.0,776.0,376.0,278.0,257.0,248.0,174.0,215.0,115.0,113.0,"[Rogers, Park]",Rogers

In [189]:
df_merge = pd.merge(chicago_crime[['community_area','community_name','merge_ref']], redfin, on='merge_ref')
df_merge

,community_area,community_name,merge_ref,Region,year,price_change,price_label
0,1.0,"[Chicago, Lawn]",Chicago,"[Chicago, IL]",2012,0.082864,1
1,1.0,"[Chicago, Lawn]",Chicago,"[Chicago, IL]",2013,0.074208,1
2,1.0,"[Chicago, Lawn]",Chicago,"[Chicago, IL]",2012,0.082864,1
3,1.0,"[Chicago, Lawn]",Chicago,"[Chicago, IL]",2013,0.074208,1
4,1.0,"[Rogers, Park]",Rogers,"[Rogers, Park]",2014,0.063483,0

# Game

In [130]:
class enemy:
    '''
    This is how to define users and items
    '''
    def __init__(self, name, hp, damage):
        self.name = name
        self.hp = hp
        self.damage = damage

class item:
    def __init__(self, name, hp_bonus, damage_bonus, shield):
        self.name = name
        self.hp_bonus = hp_bonus
        self.damage_bonus = damage_bonus
        self.shield = shield

In [203]:
# import random
import time
# from enemy import enemy
# from enemy import item

Level = 1
Level_Bonus = [2.0, 5.0, 8.0, 11.0, 13.0, 15.0, 18.0]
Level_Max = 20
ITEM = ""
Enemy = ""
Potion = random.randint(3, 7)
Enemies_Fought = 0


Player = enemy("Pemain", 100, random.randint(5, 8))
Dog = enemy("Anjing", 40, random.randint(1, 8))
Cat = enemy("Kucing", 20, random.randint(1, 5))
Monkey = enemy("Monyet", 55, random.randint(5, 8))
Ogre = enemy("Monster", 100, random.randint(10,120))


Ring = item("SURICAN", 10, 0, 0)
Sword = item("PEDANG", 0, 10, 0)
Shield = item("TAMENG", 0, 0, 3)
No_item = item("ZONK", 0, 0, 0)


def ITEM_CHANCE():
    global ITEM
    item_chance = random.randint(1,1000)
    if item_chance > 1 and item_chance < 80:
        ITEM = Ring
        Player.hp += ITEM.hp_bonus
        print('''
        Kesehatanmu bertambah 10!''')
        print(f'''
        Kamu menemukan sebuah senjata {ITEM.name}!!!''')
    elif item_chance > 140 and item_chance < 175:
        ITEM = Sword
        Player.damage += ITEM.damage_bonus
        print('''
        Kerusakanmu bertambah 10!''')
        print(f'''
        Kamu menemukan sebuah senjata {ITEM.name}!!''')
    elif item_chance > 500 and item_chance < 600:
        ITEM = Shield
        Enemy.damage -= ITEM.shield
        print('''
        Kesehatan musuh berkurang 3!!''')
        print(f'''
        Kamu menemukan sebuah senjata {ITEM.name}!!!''')
    else:
        ITEM = No_item
        print('''
        Kamu tidak punya senjata''')


def which_enemy():
    global Enemy
    Enemy_choose = random.randint(1, 100)
    if Enemy_choose < 30:
        Enemy = Cat
    elif  Enemy_choose > 30 and Enemy_choose < 70:
        Enemy = Dog
    elif Enemy_choose > 70 and Enemy_choose < 95:
        Enemy = Monkey
    else:
        Enemy = Ogre



def fight():
    global Enemy
    global Player
    which_enemy()
    print(f'''
    Kamu akan berlawanan dengan {Enemy.name}''')
    keep_going = input(f'''
    Apakah kamu bersedia melawannya, ini akan menjadi pertarungan hingga mati dan
    kekuatanmu adalah"{Player.hp}".
    1) Ya.
    2) Tidak.
    Masukkan angka jawaban: ''')
    if keep_going == "2":
        print(f'''
        Musuhmu memukulmu sebesar {Enemy.damage} ketika kamu menghindar.
        ''')
        Player.hp = Player.hp - Enemy.damage
        print(f'''
        Kesehatanmu sekarang {Player.hp}
        ''')
        return False
    elif keep_going == "1":
        while Player.hp > 0 and Enemy.hp > 0:
            print(f'''
            Musuhmu memukulmu sebesar {Enemy.damage} kerusakan''')
            Player.hp = Player.hp - Enemy.damage
            if Player.hp < 0:
                Player.hp = 0
            print(f'''
            Kesehatanmu sekarang {Player.hp}''')
            time.sleep(.2)
            print(f'''
            Kamu memukul musuhmu sebesar {Player.damage} kerusakan''')
            Enemy.hp = Enemy.hp - Player.damage
            if Enemy.hp < 0:
                Enemy.hp = 0
            print(f'''
            Kesehatan musuhmu menjadi sebesar {Enemy.hp}''')
            time.sleep(.2)
    else:
        return False
    if Enemy.hp == 0:      # Reset all enemy health for next round
        if Enemy == Dog:
            Enemy.hp = 40
        elif Enemy == Cat:
            Enemy.hp = 20
        elif Enemy == Monkey:
            Enemy.hp = 55



def main():
    while True:
        global Enemies_Fought
        global Level
        PLAY = input('''Apakah kamu bersedia melawan musuhmu?"
                1) Ya
                2) Tidak
                Jawab: ''')
        if PLAY == "2":
            print('''
            Kamu menyerah, dan kamu KALAH.''')
            break
        elif PLAY == "1":
            ITEM_CHANCE()
            Player.hp = Player.hp
            fight()
            Enemies_Fought += 1
            Level += .5
            print(f'''
            Levelmu sekarang {Level}''')
            if Level in Level_Bonus:
                Player.hp = 100
                Player.damage = Player.damage + 5
                print(f'''
                Kerusakanmu sekarang sebesar {Player.damage}, dan kesehatanmu telah dikembalikan.''')
            if Player.hp <= 0:
                print(f'''

                Kamu mencapai level: {Level}
                Kamu telah mengalahkan: {Enemies_Fought} musuh
                ''')
                if Enemies_Fought >= 10:
                    print('''
                    Kamu mati, dan Kamu MENANG!!! Terima kasih telah bermain''')
                else:
                    print('''
                    Kamu mati, dan Kamu KALAH!!! Terima kasih telah bermain''')
                break
        else:
            print('''
            Masukkan pilihan angka yang benar.''')


main()

Apakah kamu bersedia melawan musuhmu?"
                1) Ya
                2) Tidak
                Jawab: 2

            Kamu menyerah, dan kamu KALAH.

In [1]:
# Remove duplicates in a list of lists based on the third item in each sublist

names = [[1,'John','US'], [2,'Steve','UK'],[3,'Anna','INA'],[4,'Bob','UK'], [5,'Anna','JP']]
seen = set()
new = [x for x in names if x[2] not in seen and not seen.add(x[2])]
    
print (names)
print (new)

[[1, 'John', 'US'], [2, 'Steve', 'UK'], [3, 'Anna', 'INA'], [4, 'Bob', 'UK'], [5, 'Anna', 'JP']]
[[1, 'John', 'US'], [2, 'Steve', 'UK'], [3, 'Anna', 'INA'], [5, 'Anna', 'JP']]