In [1]:
def digital_root(num):
    root = sum(int(d) for d in str(num))
    return root if root < 10 else digital_root(root)

In [2]:
num = input("Enter an integer: ")
print ("Summary of digit number from ",num, " is ",digital_root(num))

Enter an integer: 45
Summary of digit number from  45  is  9

In [3]:
import random, sys

def Rounds():
    P1Roll1 = (random.randint(1,7))
    P1Roll2 = (random.randint(1,7))
    Sum1 = P1Roll1 + P1Roll2
    Dice = input("Player 1's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  ")
    if Dice == "Y" or Dice == "y":
        print("Player 1 rolled their 2 dice. They rolled a " + str(P1Roll1) + " and a " + str(P1Roll2) + " which totals to " + str(Sum1))
        if int(Sum1) % 2 == 0:
            print("Player 1 got 10 more points for rolling an even sum. " + "\n" + "Player 1 got " + str(Sum1 + 10) + " points")
            Final1 = str(Sum1 + 10)
        elif int(Sum1) % 2 == 1:
            print("Player 1 got " + str(Sum1) + " points")
            Final1 = str(Sum1)
    elif Dice == "N" or Dice == "n":
        sys.exit()
    P2Roll1 = (random.randint(1,7))
    P2Roll2 = (random.randint(1,7))
    Sum2 = P2Roll1 + P2Roll2
    Dice1 = input("Player 2's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  ")
    if Dice1 == "Y" or "y":
        print("Player 2 rolled their 2 dice. They rolled a " + str(P2Roll1) + " and a " + str(P2Roll2) + " which totals to " + str(Sum2))
        if int(Sum2) % 2 == 0:
            print("Player 2 got 10 more points for rolling an even sum. " + "\n" + "Player 2 got " + str(Sum2 + 10) + " points")
            Final2 = str(Sum2 + 10)
        elif int(Sum2) % 2 == 1:
            print("Player 2 got " + str(Sum2) + " points")
            Final2 = str(Sum2)
    elif Dice1 == "N" or "n":
        sys.exit()
    if Final2 > Final1:
        print("Player 2 won round 1 by " + str(int(Final2) - int(Final1)) + " points")
    elif Final1 > Final2:
        print("Player 1 won round 1 by " + str(int(Final1) - int(Final2)) + " points")
    elif Final1 == Final2:
        print("Round 1 was a draw as both players got " + str(Final1) + " points")

In [4]:
Rounds()

Player 1's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  y
Player 1 rolled their 2 dice. They rolled a 6 and a 3 which totals to 9
Player 1 got 9 points
Player 2's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  y
Player 2 rolled their 2 dice. They rolled a 7 and a 7 which totals to 14
Player 2 got 10 more points for rolling an even sum.
Player 2 got 24 points
Player 1 won round 1 by -15 points

In [5]:
from itertools import cycle

st1=["a","b"]
st2=["likes"]
st3=["programming","math"]

for i,j,k in zip(st1, cycle(st2), st3):
    print(i+" "+j+" "+k)

a likes programming
b likes math

# Data frame

In [6]:
import pandas as pd

df = pd.DataFrame({"":["2019-01-25 08:15:00","2019-01-25 08:30:00","2019-01-25 08:45:00","2019-01-25 09:00:00"],
                  "A":[4.50,6.00,7.30,9.40],
                  "B":[1.30,5.70,4.20,6.20]})
df

                          A    B
0  2019-01-25 08:15:00  4.5  1.3
1  2019-01-25 08:30:00  6.0  5.7
2  2019-01-25 08:45:00  7.3  4.2
3  2019-01-25 09:00:00  9.4  6.2

In [7]:
dt = df.iloc[0]
dt

     2019-01-25 08:15:00
A                    4.5
B                    1.3
Name: 0, dtype: object

In [8]:
x = []
# n = -1
for i in range(0,len(df)):
#     dt = df.iloc[i]
#     dtA = dt[1]
#     dtB = dt[2]
#     if n == -1:
#         x.insert(len(x),dtA/dtB)
#     else:
    x.insert(len(x),(df.iloc[i][1]-df.iloc[i-1][1])/(df.iloc[i][2]-df.iloc[i-1][2]))
#     n += 1
df["C"] = x
df

                          A    B         C
0  2019-01-25 08:15:00  4.5  1.3  1.000000
1  2019-01-25 08:30:00  6.0  5.7  0.340909
2  2019-01-25 08:45:00  7.3  4.2 -0.866667
3  2019-01-25 09:00:00  9.4  6.2  1.050000

In [106]:
df.transpose()

,0,1,2,3
,2019-01-25 08:15:00,2019-01-25 08:30:00,2019-01-25 08:45:00,2019-01-25 09:00:00
A,4.5,6,7.3,9.4
B,1.3,5.7,4.2,6.2
C,1,0.340909,-0.866667,1.05

In [9]:
print (df)

                          A    B         C
0  2019-01-25 08:15:00  4.5  1.3  1.000000
1  2019-01-25 08:30:00  6.0  5.7  0.340909
2  2019-01-25 08:45:00  7.3  4.2 -0.866667
3  2019-01-25 09:00:00  9.4  6.2  1.050000

Joining columns

In [127]:
df = pd.DataFrame({"Ad_URL":["http://www.google.com","http://www.yahoo.com"],
                  "Title":["Google","Yahoo"]})

def Ad_Link(df):
    return ('<a href="{}">{}</a>'.format(df['Ad_URL'],df['Title']))

df['Link'] = df[['Ad_URL','Title']].apply(lambda x:Ad_Link(x), axis=1)
df

                  Ad_URL   Title                                        Link
0  http://www.google.com  Google  <a href="http://www.google.com">Google</a>
1   http://www.yahoo.com   Yahoo    <a href="http://www.yahoo.com">Yahoo</a>

In [186]:
import re

df = ({"col_a": ["Python PY is a general purpose PY language",
                 "Programming PY language in Python PY",
                 "Its easier to understand  PY",
                 "The syntax of the language is clean PY"]})
col_b = []
for item in df['col_a']:
    x = re.search(r"(\w+\s+PY)", item)
    col_b.append(x.group())
df['col_b'] = col_b
df = pd.DataFrame(df)
df

                                        col_a           col_b
0  Python PY is a general purpose PY language       Python PY
1        Programming PY language in Python PY  Programming PY
2                Its easier to understand  PY  understand  PY
3      The syntax of the language is clean PY        clean PY

# Scrap url

In [76]:
import urllib.request
from bs4 import BeautifulSoup
from html.parser import HTMLParser

url_toscrape = "https://www.m1.com.sg/personal/mobile/phones/filters/all-plans/all/all/0/1500/0/0/none"
response = urllib.request.urlopen(url_toscrape)
info_type = response.info()
responseData = response.read()
soup = BeautifulSoup(responseData, 'html.parser')

for tr in soup.find_all("div",{"class":"tr middle"}):
    for model in tr.find_all("div",{"class":"td three title text-center"}):
        model = model.text.strip()
    for price in tr.find_all("div",{"class":"td two price text-center"}):
        price = price.text.strip()
    for info in tr.find_all("div",{"class":"td two description"}):
        for link in info.find_all("a"):
            info = info.text.strip() + ": https://www.m1.com.sg" + link['href'].replace(" ","%20")
    print (model,price,info)

iPhone XR 128GB $ 225 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xr%20128gb%20black
iPhone XR 256GB $ 385 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xr%20256gb%20black
iPhone XR 64GB $ 160 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xr%2064gb%20black
iPhone XS 256GB $ 665 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20256gb%20space%20grey
iPhone XS 512GB $ 950 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20512gb%20space%20grey
iPhone XS 64GB $ 440 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%2064gb%20silver
iPhone XS Max 256GB $ 805 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20max%20256gb%20space%20grey
iPhone XS Max 512GB $ 1090 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20max%20512gb%20space%20grey
iPhone XS Max 64GB $ 580 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20max%2064gb%20silver
ASUS ZenFone 5Q $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/asus%20zenfone%205q%20white
ASUS ZenFone Live L1 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/asus%20zenfone%20live%20l1%20black
BlackBerry KEY2 $ 258 More info: https://www.m1.com.sg/personal/mobile/phones/details/blackberry%20key2%20black
BlackBerry KEY2 LE $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/blackberry%20key2%20le%20atomic%20red
BlackBerry KEYone Dual SIM $ 98 More info: https://www.m1.com.sg/personal/mobile/phones/details/blackberry%20keyone%20dual%20sim%20bronze
Huawei Mate 20 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20mate%2020%20black
Huawei Mate 20 Pro $ 118 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20mate%2020%20pro%20black
Huawei Mate 20 X $ 188 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20mate%2020%20x%20midnight%20blue
Huawei Nova 3i $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20nova%203i%20black
Huawei P20 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20p20%20pink%20gold
Huawei P20 Pro $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20p20%20pro%20black
Huawei Y6 2018 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20y6%202018%20black
Huawei Y6 Pro 2019 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20y6%20pro%202019%20midnight%20black
iPhone 7 (32GB) $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%207%2032gb%20black
iPhone 7 Plus (32GB) $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%207%20plus%2032gb%20black
Lenovo Tab 7 Essential (LTE) $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/lenovo%20tab%207%20essential%20lte%20black
LG G7+ ThinQ $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/lg%20g7%20plus%20thinq%20black
LG V40 ThinQ $ 88 More info: https://www.m1.com.sg/personal/mobile/phones/details/lg%20v40%20thinq%20moroccan%20blue
OPPO AX7 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/ax7%20gold
OPPO Find X (256GB) $ 298 More info: https://www.m1.com.sg/personal/mobile/phones/details/find%20x%20256gb%20bordeaux%20red
OPPO R17 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/r17%20ambient%20blue
OPPO R17 Pro $ 98 More info: https://www.m1.com.sg/personal/mobile/phones/details/r17%20pro%20radiant%20mist
Samsung Galaxy A7 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20a7%202018%20blue
Samsung Galaxy A9 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20a9%202018%20bubblegum%20pink
Samsung Galaxy J4+ $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20j4%20plus%20black
Samsung Galaxy J6+ $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20j6%20plus%20gray
Samsung Galaxy J7 Duo $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20j7%20duo%20black
Samsung Galaxy Note9 128GB $ 288 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20note9%20128gb%20midnight%20black
Samsung Galaxy Note9 512GB $ 488 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20note9%20512gb%20lavender
Samsung Galaxy S10 128GB $ 328 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20128gb%20prism%20black
Samsung Galaxy S10+ 128GB $ 428 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20plus%20128gb%20prism%20black
Samsung Galaxy S10+ 1TB $ 1298 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20plus%201tb%20ceramic%20white
Samsung Galaxy S10+ 512GB $ 898 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20plus%20512gb%20ceramic%20white
Samsung Galaxy S10e 128GB $ 228 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10e%20128gb%20prism%20black
Samsung Galaxy S9 64GB $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s9%2064gb%20polaris%20blue
Samsung Galaxy Tab A (2018) 10.5" $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20tab%20a%202018%20105%20black
Samsung Galaxy Tab A 7.0 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20tab%20a%207%20smt285%20black
Samsung Galaxy Tab S4 256GB $ 548 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20tab%20s4%20256gb%20black
Samsung Galaxy Tab S4 64GB $ 398 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20tab%20s4%2064gb%20black
vivo Nex Dual Screen Edition $ 198 More info: https://www.m1.com.sg/personal/mobile/phones/details/vivo%20nex%20dual%20screen%20edition%20polar%20blue
vivo V11 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/vivo%20v11%20starry%20night
vivo Y95 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/vivo%20y95%20aurora%20red
Xiaomi Mi A2 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/xiaomi%20mi%20a2%20gold
Xiaomi Redmi Note 6 Pro $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/xiaomi%20redmi%20note%206%20pro%20black

In [74]:
import requests
from bs4 import BeautifulSoup

url = "https://www.m1.com.sg/personal/mobile/phones/filters/all-plans/all/all/0/1500/0/0/none"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
for items in soup.find_all(class_="phone-line"):
    model = items.find(class_="title").text.strip()
    price = items.find(class_="light-blue").text.strip()
    print(model,price)

iPhone XR 128GB $ 225
iPhone XR 128GB $ 225
iPhone XR 256GB $ 385
iPhone XR 64GB $ 160
iPhone XS 256GB $ 665
iPhone XS 512GB $ 950
iPhone XS 64GB $ 440
iPhone XS Max 256GB $ 805
iPhone XS Max 512GB $ 1090
iPhone XS Max 64GB $ 580
ASUS ZenFone 5Q $ 0
ASUS ZenFone Live L1 $ 0
BlackBerry KEY2 $ 258
BlackBerry KEY2 LE $ 0
BlackBerry KEYone Dual SIM $ 98
Huawei Mate 20 $ 0
Huawei Mate 20 Pro $ 118
Huawei Mate 20 X $ 188
Huawei Nova 3i $ 0
Huawei P20 $ 0
Huawei P20 Pro $ 0
Huawei Y6 2018 $ 0
Huawei Y6 Pro 2019 $ 0
iPhone 7 (32GB) $ 0
iPhone 7 Plus (32GB) $ 0
Lenovo Tab 7 Essential (LTE) $ 0
LG G7+ ThinQ $ 0
LG V40 ThinQ $ 88
OPPO AX7 $ 0
OPPO Find X (256GB) $ 298
OPPO R17 $ 0
OPPO R17 Pro $ 98
Samsung Galaxy A7 $ 0
Samsung Galaxy A9 $ 0
Samsung Galaxy J4+ $ 0
Samsung Galaxy J6+ $ 0
Samsung Galaxy J7 Duo $ 0
Samsung Galaxy Note9 128GB $ 288
Samsung Galaxy Note9 512GB $ 488
Samsung Galaxy S10 128GB $ 328
Samsung Galaxy S10+ 128GB $ 428
Samsung Galaxy S10+ 1TB $ 1298
Samsung Galaxy S10+ 512GB $ 898
Samsung Galaxy S10e 128GB $ 228
Samsung Galaxy S9 64GB $ 0
Samsung Galaxy Tab A (2018) 10.5" $ 0
Samsung Galaxy Tab A 7.0 $ 0
Samsung Galaxy Tab S4 256GB $ 548
Samsung Galaxy Tab S4 64GB $ 398
vivo Nex Dual Screen Edition $ 198
vivo V11 $ 0
vivo Y95 $ 0
Xiaomi Mi A2 $ 0
Xiaomi Redmi Note 6 Pro $ 0

In [158]:
import requests
from bs4 import BeautifulSoup as bs

url = "https://en.wikipedia.org/wiki/List_of_companies_of_Indonesia"
html = requests.get(url).text
soup = bs(html, 'html.parser')

for data in soup.find_all('table', {"class":"wikitable"}):
    for td in data.find_all('td'):
        for link in td.find_all('a'):
            print (link.text)

Pertamina
Airfast Indonesia
Tangerang
Angkasa Pura
Jakarta
Astra International
Jakarta
Bank Central Asia
Jakarta
Bank Danamon
Jakarta
Bank Mandiri
Jakarta
Bank Negara Indonesia
Jakarta
Bank Rakyat Indonesia
Jakarta
Bumi Resources
Jakarta
Djarum
 Kudus
Jakarta
Dragon Computer & Communication
Jakarta
Elex Media Komputindo
Jakarta
Femina
Jakarta
Garuda Indonesia
Tangerang
Gudang Garam
Kediri
Gunung Agung
Jakarta
Indocement Tunggal Prakarsa
Jakarta
HeidelbergCement
Indofood
Jakarta
Indonesian Aerospace
Bandung
Indonesian Bureau of Logistics
Jakarta
Indosat
Jakarta
Infomedia Nusantara
Jakarta
Jalur Nugraha Ekakurir
Jakarta
Kalbe Farma
Jakarta
Kereta Api Indonesia
Bandung
Kimia Farma
Jakarta
Kompas Gramedia Group
Jakarta
Krakatau Steel
Cilegon
Lion Air
Jakarta
Lippo Group
Jakarta
Matahari
Tangerang
MedcoEnergi
Jakarta
Media Nusantara Citra
Jakarta
Panin Sekuritas
Jakarta
Pegadaian
Jakarta
Pelni
Jakarta
Pos Indonesia
Bandung
Pertamina
Jakarta
Perusahaan Gas Negara
Jakarta
Perusahaan Gas Negara
Jakarta
Perusahaan Listrik Negara
Jakarta
Phillip Securities Indonesia, PT
Jakarta
Pindad
Bandung
PT Lapindo Brantas
Jakarta
PT Metro Supermarket Realty Tbk
Jakarta
Salim Group
Jakarta
Sampoerna
Surabaya
Semen Indonesia
Gresik
Susi Air
Pangandaran
Telkom Indonesia
Bandung
Telkomsel
Jakarta
Telkom Indonesia
Trans Corp
Jakarta
CT Corp
Unilever Indonesia
Jakarta
Unilever
United Tractors
Jakarta
 Waskita
Jakarta

# Dice game

In [105]:
import random

def roll_dice():
    winner = 0
    loser = 0
    play_again = "yes"
    while play_again == "yes":
        roll = (random.randint(1,6))
        roll2 = (random.randint(1,6))
        print(str(roll)," ",end=str(roll2))
        if roll >= roll2:
            print(" Winner!")
            winner += 1
        else:
            print(" Loser!")
            loser += 1
        play_again = input("Would you like to play again?")
    print("You won", winner, "times")
    print("You lost", loser, "times")
    quit

def main():
    game_start = input("Would you like to roll the dice? ")
    if game_start == 'yes':
        roll_dice()
    else:
        print("too bad")

if __name__ == '__main__':
    main()

Would you like to roll the dice? yes
2  6 Loser!
Would you like to play again?yes
2  2 Winner!
Would you like to play again?no
You won 1 times
You lost 1 times

# Dictionary

In [104]:
last_names = ['Bakir','Jose','Jose','Pierce']
university = ['Davis', 'Stanford', 'George Town', 'Berkeley ']

dictionary = {}
for key, value in zip(last_names, university):
    if key in dictionary:
        dictionary[key].append(value)
    else:
        dictionary[key] = [value]
dictionary

{'Bakir': ['Davis'],
 'Jose': ['Stanford', 'George Town'],
 'Pierce': ['Berkeley ']}

In [118]:
def easy_donor_rank(percent_donated):
    if percent_donated <= 0:
        print("Error")
    elif percent_donated < 2:
        print("Bronze")
    elif percent_donated <= 15:
        print("Silver")
    else:
        print("Gold")

In [123]:
easy_donor_rank(16)

Gold