In [33]:
mn = int(input("Enter the number of matrix: "))
row = int(input("Enter the number of rows in each matrix: "))
col = int(input("Enter the number of columns in each matrix: "))
print ("The number of matrix is %i" %(mn) + ", with dimension %i" %(row) + "x%i" %(col))
print ("--------------------------------------------")

matrix = []
for m in range(mn):
    rd = []
    for r in range(row):
        cd = []
        for c in range(col):
            num = int(input("For matrix %i" %(m+1) + ", enter integer in row %i, " %(r+1) + " column %i : " %(c+1)))
            cd.append(num)
        rd.append(cd)
    print ("--------------------------------------------")
    matrix.append(rd)

matrix

Enter the number of matrix: 2
Enter the number of rows in each matrix: 2
Enter the number of columns in each matrix: 2
The number of matrix is 2, with dimension 2x2
--------------------------------------------
For matrix 1, enter integer in row 1,  column 1 : 1
For matrix 1, enter integer in row 1,  column 2 : 24
For matrix 1, enter integer in row 2,  column 1 : 5
For matrix 1, enter integer in row 2,  column 2 : 23
--------------------------------------------
For matrix 2, enter integer in row 1,  column 1 : 5
For matrix 2, enter integer in row 1,  column 2 : 3
For matrix 2, enter integer in row 2,  column 1 : 2
For matrix 2, enter integer in row 2,  column 2 : 1
--------------------------------------------

[[[1, 24], [5, 23]], [[5, 3], [2, 1]]]

In [34]:
mylist = ['10', '1,000', '51,000', '500', '63,000']

newlist = []
for n in mylist:
    temp = n.replace(",",'')
    newlist.append(temp)
newlist

['10', '1000', '51000', '500', '63000']

In [39]:
check = ['"werwe"', 'wqe"wqe','wedfgd']

new = []
for c in check:
    new.append(c.replace('"',''))
new

['werwe', 'wqewqe', 'wedfgd']

In [127]:
df1 = pd.DataFrame({'ids': [101,102,103],'vals': ['apple','java','python']})
df1

   ids    vals
0  101   apple
1  102    java
2  103  python

In [128]:
df = pd.DataFrame({'TEXT_DATA': [u'apple a day keeps doctor away', u'apple tree in my farm', u'python is not new language', 
                                 u'Learn python programming', u'java is second language']})
df

                       TEXT_DATA
0  apple a day keeps doctor away
1          apple tree in my farm
2     python is not new language
3       Learn python programming
4        java is second language

In [140]:
extr = '|'.join(x for x in df1['vals'])
df['vals'] = df['TEXT_DATA'].str.extract('('+ extr + ')', expand=False)
newdf = pd.merge(df, df1, on='vals', how='left')
newdf[['TEXT_DATA','ids']]

                       TEXT_DATA  ids
0  apple a day keeps doctor away  101
1          apple tree in my farm  101
2     python is not new language  103
3       Learn python programming  103
4        java is second language  102

In [150]:
df['new'] = df.TEXT_DATA.apply(lambda x: 'apple' in str(x))
df

                       TEXT_DATA    vals    new
0  apple a day keeps doctor away   apple   True
1          apple tree in my farm   apple   True
2     python is not new language  python  False
3       Learn python programming  python  False
4        java is second language    java  False

In [97]:
for i in df1['vals']:
    print (i)

apple
java
python

In [151]:
newdf

                       TEXT_DATA    vals  ids
0  apple a day keeps doctor away   apple  101
1          apple tree in my farm   apple  101
2     python is not new language  python  103
3       Learn python programming  python  103
4        java is second language    java  102

In [154]:
intList = [1, 5, 4, 9, 7, 2, 15]
def manipfunc(a):
    j = a.index(2)
    print ("j: ",j)
    a.append(6.08)
    print ("intList: ",a)
    a.remove(4)
    print ("intList: ",a)
    a.insert(2,67)
    print ("intList: ",a)
    g = a.pop(3)
    print ("g: ",g)
#     print(a)
#     print(j, g)
manipfunc(intList)

j:  5
intList:  [1, 5, 4, 9, 7, 2, 15, 6.08]
intList:  [1, 5, 9, 7, 2, 15, 6.08]
intList:  [1, 5, 67, 9, 7, 2, 15, 6.08]
g:  9

In [173]:
pr_list = ['1 FO-','2 IA-']
df = pd.DataFrame({'PartNumber':['ABC','DEF','1 FO-BLABLA','2 IA-EXAMPLE']})

extr = '|'.join(x for x in pr_list)
df['Prefix'] = df['PartNumber'].str.extract('('+ extr + ')', expand=False).fillna('')
df['PartNumber'] = df['PartNumber'].str.replace('|'.join(pr_list),'')
df
# df['Prefix']=df.PartNumber.str.extract(r'({})'.format('|'.join(pr_list))).fillna('')
# df.PartNumber=df.PartNumber.str.replace('|'.join(pr_list),'')
# print(df)

  PartNumber Prefix
0        ABC
1        DEF
2     BLABLA  1 FO-
3    EXAMPLE  2 IA-