In [33]:
mn = int(input("Enter the number of matrix: "))
row = int(input("Enter the number of rows in each matrix: "))
col = int(input("Enter the number of columns in each matrix: "))
print ("The number of matrix is %i" %(mn) + ", with dimension %i" %(row) + "x%i" %(col))
print ("--------------------------------------------")

matrix = []
for m in range(mn):
    rd = []
    for r in range(row):
        cd = []
        for c in range(col):
            num = int(input("For matrix %i" %(m+1) + ", enter integer in row %i, " %(r+1) + " column %i : " %(c+1)))
            cd.append(num)
        rd.append(cd)
    print ("--------------------------------------------")
    matrix.append(rd)

matrix

Enter the number of matrix: 2
Enter the number of rows in each matrix: 2
Enter the number of columns in each matrix: 2
The number of matrix is 2, with dimension 2x2
--------------------------------------------
For matrix 1, enter integer in row 1,  column 1 : 1
For matrix 1, enter integer in row 1,  column 2 : 24
For matrix 1, enter integer in row 2,  column 1 : 5
For matrix 1, enter integer in row 2,  column 2 : 23
--------------------------------------------
For matrix 2, enter integer in row 1,  column 1 : 5
For matrix 2, enter integer in row 1,  column 2 : 3
For matrix 2, enter integer in row 2,  column 1 : 2
For matrix 2, enter integer in row 2,  column 2 : 1
--------------------------------------------

[[[1, 24], [5, 23]], [[5, 3], [2, 1]]]

In [34]:
mylist = ['10', '1,000', '51,000', '500', '63,000']

newlist = []
for n in mylist:
    temp = n.replace(",",'')
    newlist.append(temp)
newlist

['10', '1000', '51000', '500', '63000']

In [39]:
check = ['"werwe"', 'wqe"wqe','wedfgd']

new = []
for c in check:
    new.append(c.replace('"',''))
new

['werwe', 'wqewqe', 'wedfgd']

In [127]:
df1 = pd.DataFrame({'ids': [101,102,103],'vals': ['apple','java','python']})
df1

   ids    vals
0  101   apple
1  102    java
2  103  python

In [128]:
df = pd.DataFrame({'TEXT_DATA': [u'apple a day keeps doctor away', u'apple tree in my farm', u'python is not new language', 
                                 u'Learn python programming', u'java is second language']})
df

                       TEXT_DATA
0  apple a day keeps doctor away
1          apple tree in my farm
2     python is not new language
3       Learn python programming
4        java is second language

In [140]:
extr = '|'.join(x for x in df1['vals'])
df['vals'] = df['TEXT_DATA'].str.extract('('+ extr + ')', expand=False)
newdf = pd.merge(df, df1, on='vals', how='left')
newdf[['TEXT_DATA','ids']]

                       TEXT_DATA  ids
0  apple a day keeps doctor away  101
1          apple tree in my farm  101
2     python is not new language  103
3       Learn python programming  103
4        java is second language  102

In [102]:
df['new'] = df.TEXT_DATA.apply(lambda x: 'apple' in str(x))
df

                       TEXT_DATA    new
0  apple a day keeps doctor away   True
1          apple tree in my farm   True
2     python is not new language  False
3       Learn python programming  False
4        java is second language  False

In [97]:
for i in df1['vals']:
    print (i)

apple
java
python

In [95]:
mask = df.applymap(lambda x: 'python' in str(x))
print (mask)

   TEXT_DATA
0      False
1      False
2       True
3       True
4      False

In [86]:
df['new_column'] = df[mask.any(axis=1)]
print (df)

                       TEXT_DATA                  new_column
0  apple a day keeps doctor away                         NaN
1          apple tree in my farm                         NaN
2     python is not new language  python is not new language
3       Learn python programming    Learn python programming
4        java is second language                         NaN

In [61]:
df[df['TEXT_DATA'].str.contains("apple")]

                       TEXT_DATA
0  apple a day keeps doctor away
1          apple tree in my farm