In [1]:
def digital_root(num):
    root = sum(int(d) for d in str(num))
    return root if root < 10 else digital_root(root)

In [2]:
num = input("Enter an integer: ")
print ("Summary of digit number from ",num, " is ",digital_root(num))

Enter an integer: 34
Summary of digit number from  34  is  7

In [3]:
import random, sys

def Rounds():
    P1Roll1 = (random.randint(1,7))
    P1Roll2 = (random.randint(1,7))
    Sum1 = P1Roll1 + P1Roll2
    Dice = input("Player 1's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  ")
    if Dice == "Y" or Dice == "y":
        print("Player 1 rolled their 2 dice. They rolled a " + str(P1Roll1) + " and a " + str(P1Roll2) + " which totals to " + str(Sum1))
        if int(Sum1) % 2 == 0:
            print("Player 1 got 10 more points for rolling an even sum. " + "\n" + "Player 1 got " + str(Sum1 + 10) + " points")
            Final1 = str(Sum1 + 10)
        elif int(Sum1) % 2 == 1:
            print("Player 1 got " + str(Sum1) + " points")
            Final1 = str(Sum1)
    elif Dice == "N" or Dice == "n":
        sys.exit()
    P2Roll1 = (random.randint(1,7))
    P2Roll2 = (random.randint(1,7))
    Sum2 = P2Roll1 + P2Roll2
    Dice1 = input("Player 2's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  ")
    if Dice1 == "Y" or "y":
        print("Player 2 rolled their 2 dice. They rolled a " + str(P2Roll1) + " and a " + str(P2Roll2) + " which totals to " + str(Sum2))
        if int(Sum2) % 2 == 0:
            print("Player 2 got 10 more points for rolling an even sum. " + "\n" + "Player 2 got " + str(Sum2 + 10) + " points")
            Final2 = str(Sum2 + 10)
        elif int(Sum2) % 2 == 1:
            print("Player 2 got " + str(Sum2) + " points")
            Final2 = str(Sum2)
    elif Dice1 == "N" or "n":
        sys.exit()
    if Final2 > Final1:
        print("Player 2 won round 1 by " + str(int(Final2) - int(Final1)) + " points")
    elif Final1 > Final2:
        print("Player 1 won round 1 by " + str(int(Final1) - int(Final2)) + " points")
    elif Final1 == Final2:
        print("Round 1 was a draw as both players got " + str(Final1) + " points")

In [4]:
Rounds()

Player 1's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  y
Player 1 rolled their 2 dice. They rolled a 3 and a 6 which totals to 9
Player 1 got 9 points
Player 2's turn. Do you want to roll your 2 dice? (Y for yes and N for no)  y
Player 2 rolled their 2 dice. They rolled a 5 and a 6 which totals to 11
Player 2 got 11 points
Player 1 won round 1 by -2 points

In [5]:
from itertools import cycle

st1=["a","b"]
st2=["likes"]
st3=["programming","math"]

for i,j,k in zip(st1, cycle(st2), st3):
    print(i+" "+j+" "+k)

a likes programming
b likes math

# Data frame

In [6]:
import pandas as pd

df = pd.DataFrame({"":["2019-01-25 08:15:00","2019-01-25 08:30:00","2019-01-25 08:45:00","2019-01-25 09:00:00"],
                  "A":[4.50,6.00,7.30,9.40],
                  "B":[1.30,5.70,4.20,6.20]})
df

                          A    B
0  2019-01-25 08:15:00  4.5  1.3
1  2019-01-25 08:30:00  6.0  5.7
2  2019-01-25 08:45:00  7.3  4.2
3  2019-01-25 09:00:00  9.4  6.2

In [7]:
dt = df.iloc[0]
dt

     2019-01-25 08:15:00
A                    4.5
B                    1.3
Name: 0, dtype: object

In [8]:
x = []
# n = -1
for i in range(0,len(df)):
#     dt = df.iloc[i]
#     dtA = dt[1]
#     dtB = dt[2]
#     if n == -1:
#         x.insert(len(x),dtA/dtB)
#     else:
    x.insert(len(x),(df.iloc[i][1]-df.iloc[i-1][1])/(df.iloc[i][2]-df.iloc[i-1][2]))
#     n += 1
df["C"] = x
df

                          A    B         C
0  2019-01-25 08:15:00  4.5  1.3  1.000000
1  2019-01-25 08:30:00  6.0  5.7  0.340909
2  2019-01-25 08:45:00  7.3  4.2 -0.866667
3  2019-01-25 09:00:00  9.4  6.2  1.050000

In [9]:
df.transpose()

,0,1,2,3
,2019-01-25 08:15:00,2019-01-25 08:30:00,2019-01-25 08:45:00,2019-01-25 09:00:00
A,4.5,6,7.3,9.4
B,1.3,5.7,4.2,6.2
C,1,0.340909,-0.866667,1.05

In [10]:
print (df)

                          A    B         C
0  2019-01-25 08:15:00  4.5  1.3  1.000000
1  2019-01-25 08:30:00  6.0  5.7  0.340909
2  2019-01-25 08:45:00  7.3  4.2 -0.866667
3  2019-01-25 09:00:00  9.4  6.2  1.050000

Joining columns

In [11]:
df = pd.DataFrame({"Ad_URL":["http://www.google.com","http://www.yahoo.com"],
                  "Title":["Google","Yahoo"]})

def Ad_Link(df):
    return ('<a href="{}">{}</a>'.format(df['Ad_URL'],df['Title']))

df['Link'] = df[['Ad_URL','Title']].apply(lambda x:Ad_Link(x), axis=1)
df

                  Ad_URL   Title                                        Link
0  http://www.google.com  Google  <a href="http://www.google.com">Google</a>
1   http://www.yahoo.com   Yahoo    <a href="http://www.yahoo.com">Yahoo</a>

In [12]:
import re

df = ({"col_a": ["Python PY is a general purpose PY language",
                 "Programming PY language in Python PY",
                 "Its easier to understand  PY",
                 "The syntax of the language is clean PY"]})
col_b = []
for item in df['col_a']:
    x = re.search(r"(\w+\s+PY)", item)
    col_b.append(x.group())
df['col_b'] = col_b
df = pd.DataFrame(df)
df

                                        col_a           col_b
0  Python PY is a general purpose PY language       Python PY
1        Programming PY language in Python PY  Programming PY
2                Its easier to understand  PY  understand  PY
3      The syntax of the language is clean PY        clean PY

In [316]:
mydf = ({"Name":["Tom","Galie","Remo","Carmen","Alfred","Marvela","Armin","Boris","Katya"],
        "ID":[211,209,200,212,111,101,234,454,109],"Parent_Id":[111,111,101,121,191,111,101,109,323]})
df = pd.DataFrame(mydf)
df

    ID     Name  Parent_Id
0  211      Tom        111
1  209    Galie        111
2  200     Remo        101
3  212   Carmen        121
4  111   Alfred        191
5  101  Marvela        111
6  234    Armin        101
7  454    Boris        109
8  109    Katya        323

In [319]:
tag = []
for z in df['Parent_Id']:
    try:
        temp = (df.query('ID==%s'%z)['Name'].item())
        tag.append(temp)
    except:
        tag.append('')
df['Tag'] = tag
df

    ID     Name  Parent_Id      Tag
0  211      Tom        111   Alfred
1  209    Galie        111   Alfred
2  200     Remo        101  Marvela
3  212   Carmen        121
4  111   Alfred        191
5  101  Marvela        111   Alfred
6  234    Armin        101  Marvela
7  454    Boris        109    Katya
8  109    Katya        323

In [330]:
# if df['Tag'].str.contains('Alfred').any():
df[df['Tag'].str.match('Marvela')]

    ID   Name  Parent_Id      Tag
2  200   Remo        101  Marvela
6  234  Armin        101  Marvela

# Scrap url

In [13]:
import urllib.request
from bs4 import BeautifulSoup
from html.parser import HTMLParser

url_toscrape = "https://www.m1.com.sg/personal/mobile/phones/filters/all-plans/all/all/0/1500/0/0/none"
response = urllib.request.urlopen(url_toscrape)
info_type = response.info()
responseData = response.read()
soup = BeautifulSoup(responseData, 'html.parser')

for tr in soup.find_all("div",{"class":"tr middle"}):
    for model in tr.find_all("div",{"class":"td three title text-center"}):
        model = model.text.strip()
    for price in tr.find_all("div",{"class":"td two price text-center"}):
        price = price.text.strip()
    for info in tr.find_all("div",{"class":"td two description"}):
        for link in info.find_all("a"):
            info = info.text.strip() + ": https://www.m1.com.sg" + link['href'].replace(" ","%20")
    print (model,price,info)

iPhone 7 (32GB) $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%207%2032gb%20black
iPhone 7 Plus (32GB) $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%207%20plus%2032gb%20black
iPhone XR 128GB $ 225 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xr%20128gb%20black
iPhone XR 256GB $ 385 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xr%20256gb%20black
iPhone XR 64GB $ 160 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xr%2064gb%20black
iPhone XS 256GB $ 665 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20256gb%20space%20grey
iPhone XS 512GB $ 1100 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20512gb%20space%20grey
iPhone XS 64GB $ 590 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%2064gb%20silver
iPhone XS Max 256GB $ 805 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20max%20256gb%20space%20grey
iPhone XS Max 512GB $ 1240 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20max%20512gb%20space%20grey
iPhone XS Max 64GB $ 730 More info: https://www.m1.com.sg/personal/mobile/phones/details/iphone%20xs%20max%2064gb%20silver
ASUS ZenFone 5Q $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/asus%20zenfone%205q%20white
ASUS ZenFone Live L1 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/asus%20zenfone%20live%20l1%20black
BlackBerry KEY2 $ 258 More info: https://www.m1.com.sg/personal/mobile/phones/details/blackberry%20key2%20black
BlackBerry KEY2 LE $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/blackberry%20key2%20le%20atomic%20red
Huawei Mate 20 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20mate%2020%20black
Huawei Mate 20 Pro $ 118 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20mate%2020%20pro%20black
Huawei Mate 20 X $ 188 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20mate%2020%20x%20midnight%20blue
Huawei Nova 3i $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20nova%203i%20black
Huawei Y6 2018 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20y6%202018%20blue
Huawei Y6 Pro 2019 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/huawei%20y6%20pro%202019%20midnight%20black
Lenovo Tab 7 Essential (LTE) $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/lenovo%20tab%207%20essential%20lte%20black
LG G7+ ThinQ $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/lg%20g7%20plus%20thinq%20black
LG V40 ThinQ $ 88 More info: https://www.m1.com.sg/personal/mobile/phones/details/lg%20v40%20thinq%20moroccan%20blue
OPPO AX7 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/ax7%20gold
OPPO Find X (256GB) $ 298 More info: https://www.m1.com.sg/personal/mobile/phones/details/find%20x%20256gb%20bordeaux%20red
OPPO R17 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/r17%20ambient%20blue
OPPO R17 Pro $ 98 More info: https://www.m1.com.sg/personal/mobile/phones/details/r17%20pro%20emerald%20green
Samsung Galaxy A7 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20a7%202018%20blue
Samsung Galaxy A9 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20a9%202018%20bubblegum%20pink
Samsung Galaxy J4+ $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20j4%20plus%20black
Samsung Galaxy J6+ $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20j6%20plus%20red
Samsung Galaxy J7 Duo $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20j7%20duo%20black
Samsung Galaxy Note9 128GB $ 288 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20note9%20128gb%20midnight%20black
Samsung Galaxy Note9 512GB $ 488 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20note9%20512gb%20lavender
Samsung Galaxy S10 128GB $ 378 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20128gb%20prism%20black
Samsung Galaxy S10+ 128GB $ 478 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20plus%20128gb%20prism%20black
Samsung Galaxy S10+ 1TB $ 1298 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20plus%201tb%20ceramic%20white
Samsung Galaxy S10+ 512GB $ 898 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10%20plus%20512gb%20ceramic%20white
Samsung Galaxy S10e 128GB $ 228 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s10e%20128gb%20prism%20black
Samsung Galaxy S9 64GB $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20s9%2064gb%20polaris%20blue
Samsung Galaxy Tab A (2018) 10.5" $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20tab%20a%202018%20105%20black
Samsung Galaxy Tab S4 256GB $ 548 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20tab%20s4%20256gb%20black
Samsung Galaxy Tab S4 64GB $ 398 More info: https://www.m1.com.sg/personal/mobile/phones/details/samsung%20galaxy%20tab%20s4%2064gb%20black
vivo Nex Dual Screen Edition $ 198 More info: https://www.m1.com.sg/personal/mobile/phones/details/vivo%20nex%20dual%20screen%20edition%20polar%20blue
vivo V11 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/vivo%20v11%20starry%20night
vivo Y95 $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/vivo%20y95%20aurora%20red
Xiaomi Redmi Note 6 Pro $ 0 More info: https://www.m1.com.sg/personal/mobile/phones/details/xiaomi%20redmi%20note%206%20pro%20black

In [14]:
import requests
from bs4 import BeautifulSoup

url = "https://www.m1.com.sg/personal/mobile/phones/filters/all-plans/all/all/0/1500/0/0/none"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
for items in soup.find_all(class_="phone-line"):
    model = items.find(class_="title").text.strip()
    price = items.find(class_="light-blue").text.strip()
    print(model,price)

iPhone 7 (32GB) $ 0
iPhone 7 (32GB) $ 0
iPhone 7 Plus (32GB) $ 0
iPhone XR 128GB $ 225
iPhone XR 256GB $ 385
iPhone XR 64GB $ 160
iPhone XS 256GB $ 665
iPhone XS 512GB $ 1100
iPhone XS 64GB $ 590
iPhone XS Max 256GB $ 805
iPhone XS Max 512GB $ 1240
iPhone XS Max 64GB $ 730
ASUS ZenFone 5Q $ 0
ASUS ZenFone Live L1 $ 0
BlackBerry KEY2 $ 258
BlackBerry KEY2 LE $ 0
BlackBerry KEYone Dual SIM $ 98
Huawei Mate 20 $ 0
Huawei Mate 20 Pro $ 118
Huawei Mate 20 X $ 188
Huawei Nova 3i $ 0
Huawei Y6 2018 $ 0
Huawei Y6 Pro 2019 $ 0
Lenovo Tab 7 Essential (LTE) $ 0
LG G7+ ThinQ $ 0
LG V40 ThinQ $ 88
OPPO AX7 $ 0
OPPO Find X (256GB) $ 298
OPPO R17 $ 0
OPPO R17 Pro $ 98
Samsung Galaxy A7 $ 0
Samsung Galaxy A9 $ 0
Samsung Galaxy J4+ $ 0
Samsung Galaxy J6+ $ 0
Samsung Galaxy J7 Duo $ 0
Samsung Galaxy Note9 128GB $ 288
Samsung Galaxy Note9 512GB $ 488
Samsung Galaxy S10 128GB $ 378
Samsung Galaxy S10+ 128GB $ 478
Samsung Galaxy S10+ 1TB $ 1298
Samsung Galaxy S10+ 512GB $ 898
Samsung Galaxy S10e 128GB $ 228
Samsung Galaxy S9 64GB $ 0
Samsung Galaxy Tab A (2018) 10.5" $ 0
Samsung Galaxy Tab S4 256GB $ 548
Samsung Galaxy Tab S4 64GB $ 398
vivo Nex Dual Screen Edition $ 198
vivo V11 $ 0
vivo Y95 $ 0
Xiaomi Redmi Note 6 Pro $ 0

In [15]:
import requests
from bs4 import BeautifulSoup as bs

url = "https://en.wikipedia.org/wiki/List_of_companies_of_Indonesia"
html = requests.get(url).text
soup = bs(html, 'html.parser')

for data in soup.find_all('table', {"class":"wikitable"}):
    for td in data.find_all('td'):
        for link in td.find_all('a'):
            print (link.text)

Pertamina
Airfast Indonesia
Tangerang
Angkasa Pura
Jakarta
Astra International
Jakarta
Bank Central Asia
Jakarta
Bank Danamon
Jakarta
Bank Mandiri
Jakarta
Bank Negara Indonesia
Jakarta
Bank Rakyat Indonesia
Jakarta
Bumi Resources
Jakarta
Djarum
 Kudus
Jakarta
Dragon Computer & Communication
Jakarta
Elex Media Komputindo
Jakarta
Femina
Jakarta
Garuda Indonesia
Tangerang
Gudang Garam
Kediri
Gunung Agung
Jakarta
Indocement Tunggal Prakarsa
Jakarta
HeidelbergCement
Indofood
Jakarta
Indonesian Aerospace
Bandung
Indonesian Bureau of Logistics
Jakarta
Indosat
Jakarta
Infomedia Nusantara
Jakarta
Jalur Nugraha Ekakurir
Jakarta
Kalbe Farma
Jakarta
Kereta Api Indonesia
Bandung
Kimia Farma
Jakarta
Kompas Gramedia Group
Jakarta
Krakatau Steel
Cilegon
Lion Air
Jakarta
Lippo Group
Jakarta
Matahari
Tangerang
MedcoEnergi
Jakarta
Media Nusantara Citra
Jakarta
Panin Sekuritas
Jakarta
Pegadaian
Jakarta
Pelni
Jakarta
Pos Indonesia
Bandung
Pertamina
Jakarta
Perusahaan Gas Negara
Jakarta
Perusahaan Gas Negara
Jakarta
Perusahaan Listrik Negara
Jakarta
Phillip Securities Indonesia, PT
Jakarta
Pindad
Bandung
PT Lapindo Brantas
Jakarta
PT Metro Supermarket Realty Tbk
Jakarta
Salim Group
Jakarta
Sampoerna
Surabaya
Semen Indonesia
Gresik
Susi Air
Pangandaran
Telkom Indonesia
Bandung
Telkomsel
Jakarta
Telkom Indonesia
Trans Corp
Jakarta
CT Corp
Unilever Indonesia
Jakarta
Unilever
United Tractors
Jakarta
 Waskita
Jakarta

In [16]:
line = '<meta content=\"Allrecipes\" property=\"og:site_name\"/>'
regex = re.search("content=\\\"(?P<content>.*)\\\".*property=\\\"(?P<prop>.*)\\\"\/>",line)
print (regex.groups())

('Allrecipes', 'og:site_name')

# Dice game

In [17]:
import random

def roll_dice():
    winner = 0
    loser = 0
    play_again = "yes"
    while play_again == "yes":
        roll = (random.randint(1,6))
        roll2 = (random.randint(1,6))
        print(str(roll)," ",end=str(roll2))
        if roll >= roll2:
            print(" Winner!")
            winner += 1
        else:
            print(" Loser!")
            loser += 1
        play_again = input("Would you like to play again?")
    print("You won", winner, "times")
    print("You lost", loser, "times")
    quit

def main():
    game_start = input("Would you like to roll the dice? ")
    if game_start == 'yes':
        roll_dice()
    else:
        print("too bad")

if __name__ == '__main__':
    main()

Would you like to roll the dice? yes
5  3 Winner!
Would you like to play again?no
You won 1 times
You lost 0 times

In [18]:
# TODO Create an empty list to maintain the player names
players = []

# TODO Ask the user if they'd like to add players to the list.
# If the user answers "Yes", let them type in a name and add it to the list.
# If the user answers "No", print out the team 'roster'
add_players = input("Would you like to add a player to the list? (Yes/No) ")
while add_players.lower() == "yes":
    name = input("\nEnter the name of the player to add to the team: ")
    players.append(name)
    add_players = input("Would you like to add another player? (Yes/No) ")


# TODO print the number of players on the team
print("\nThere are {} players on the team.".format(len(players)))

# TODO Print the player number and the player name
# The player number should start at the number one
player_number = 1
for player in players:
    print("Player {}: {}".format(player_number, player))
    player_number += 1

# TODO Select a goalkeeper from the above roster
keeper = int(input("Please select the goal keeper by selecting the player_number. (1-{}) ".format(len(players))))

# TODO Print the goal keeper's name
# Remember that lists use a zero based index
print("Great!! The goalkeeper for the game will be {}".format(players[keeper-1]))

Would you like to add a player to the list? (Yes/No) yes

Enter the name of the player to add to the team: Kimi
Would you like to add another player? (Yes/No) yes

Enter the name of the player to add to the team: Aak
Would you like to add another player? (Yes/No) no

There are 2 players on the team.
Player 1: Kimi
Player 2: Aak
Please select the goal keeper by selecting the player_number. (1-2) 1
Great!! The goalkeeper for the game will be Kimi

# Dictionary

In [19]:
last_names = ['Bakir','Jose','Jose','Pierce']
university = ['Davis', 'Stanford', 'George Town', 'Berkeley ']

dictionary = {}
for key, value in zip(last_names, university):
    if key in dictionary:
        dictionary[key].append(value)
    else:
        dictionary[key] = [value]
dictionary

{'Bakir': ['Davis'],
 'Jose': ['Stanford', 'George Town'],
 'Pierce': ['Berkeley ']}

In [20]:
def easy_donor_rank(percent_donated):
    if percent_donated <= 0:
        print("Error")
    elif percent_donated < 2:
        print("Bronze")
    elif percent_donated <= 15:
        print("Silver")
    else:
        print("Gold")

In [21]:
easy_donor_rank(16)

Gold

In [22]:
import re

string = ["From August 2017 - September 2018","From November 2018 to December 2019"]
for st in string:
    month = re.search("(?P<fmonth>\w+.\d+)\s\D+\s(?P<smonth>\D+.\d+)", st)
    month = month.groups()
    print (month)

('August 2017', 'September 2018')
('November 2018', 'December 2019')

In [23]:
mu = ["hi", "I", "am", "a", "student"]
mu[2] = "was"
mu

['hi', 'I', 'was', 'a', 'student']

In [24]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
x = ";".join(str(n) for n in nums)
x

'1;2;3;4;5;6;7;8'

In [25]:
string = [[1,"Hi","World"],[2,"Hello","dear"]]
string[0][2] = "Girl"

In [26]:
string

[[1, 'Hi', 'Girl'], [2, 'Hello', 'dear']]

In [27]:
df = pd.DataFrame({'A': [0, 0, 2, 1], 'B': [1,2,3,4], 'C' : [5,7,2,5]})
df

   A  B  C
0  0  1  5
1  0  2  7
2  2  3  2
3  1  4  5

In [28]:
import numpy as np
a = np.where(df.values <= 3)
print (a)

(array([0, 0, 1, 1, 2, 2, 2, 3]), array([0, 1, 0, 1, 0, 1, 2, 0]))

In [29]:
rowcol = []
for x in range (0,len(a[0])):
    rowcol.append([a[0][x],a[1][x]])

In [30]:
rowcol

[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [2, 2], [3, 0]]

In [31]:
import pandas as pd
df1 = pd.DataFrame({'col1': [0, 1, 2, 1, 2], 'col2': [0, 1, 2, 1, 2]})
df2 = pd.DataFrame({'col1': [1, 2, 1, 2, 3], 'col2': [1, 2, 1, 2, 3]})

# dfm = pd.concat([df1,df2]).drop_duplicates().reset_index(drop=True)
dfm = pd.concat([df1[~df1.eq(df2.shift())],df2]).dropna().reset_index(drop=True)
dfm

   col1  col2
0   0.0   0.0
1   1.0   1.0
2   2.0   2.0
3   1.0   1.0
4   2.0   2.0
5   3.0   3.0

In [32]:
#----------------------------------------------------
#Libs
#----------------------------------------------------
from bs4 import BeautifulSoup
import requests

#----------------------------------------------------
#variables
#----------------------------------------------------
page = ('http://ranking.vstars.pl/?side=96&&sort=month_change')

#----------------------------------------------------                 
#functions
#----------------------------------------------------
def scraper():
    x=0
    target = requests.get(page)
    soup = BeautifulSoup(target.text, 'html.parser')
    
    links = []
    for td in soup.find_all("td", class_= "href"):
        for link in td.find_all("a"):
            links.append(link['href'])
            x += 1
    print ("Number of links:" , x)
    return links

#----------------------------------------------------  
#codes
#----------------------------------------------------
scraper()

Number of links: 93

['https://www.youtube.com/channel/UCkhIW5mhF9hwF1CKMkv3ubA',
 'https://www.youtube.com/channel/UCmhVgVjxdk8AXMxjTWqF2BQ',
 'https://www.youtube.com/channel/UCHRoIQ9M2ZrL9dPgkyE0Rww',
 'https://www.youtube.com/channel/UCkndLzXsr_dYlD2I4klg36w',
 'https://www.youtube.com/channel/UCpWpxPfeC2B2sBULLTp8nAA',
 'https://www.youtube.com/channel/UCtTmX0-RloLWXDEDF_eo0ow',
 'https://www.youtube.com/channel/UCHGJ0MxJFIbtFEUEud6TDKA',
 'https://www.youtube.com/channel/UCVg9O2Qja5vyyRNV_3nKUcw',
 'https://www.youtube.com/channel/UCZbz8mZjzJ0JgYOiytbOqNg',
 'https://www.youtube.com/channel/UCEmQX9okZu5EbDppF1Yonfg',
 'https://www.youtube.com/channel/UCq-EgxhHVTFWVZcjFwsfnWA',
 'https://www.youtube.com/channel/UCPf-3giVvdU55kIBN2CbLRQ',
 'https://www.youtube.com/channel/UCDcPQVZsW8kNqsCwdz8p8iw',
 'https://www.youtube.com/channel/UCB25kwfY4Iccm6JAy4vAsIA',
 'https://www.youtube.com/channel/UCG9FH5_x2WvA8WdOV_STCUQ',
 'https://www.youtube.com/channel/UCc_ekHwhgGzI3N0xc26p4Ug',
 'https://www.youtube.com/channel/UCZ5NqMkUuK8b62SfgQ6_duQ',
 'https://www.youtube.com/channel/UC7Px6i0gOeKZpwCqr0FJypw',
 'https://www.youtube.com/channel/UCykhTVrcv6f0m-pz7WEgjEg',
 'https://www.youtube.com/channel/UCvpCiIOaLj2mL_2KAtuWFuQ',
 'https://www.youtube.com/channel/UCWx5b99NI_cWiU7Iovqi12w',
 'https://www.youtube.com/channel/UCKYrCJyJDKZTntknfZ8yZTg',
 'https://www.youtube.com/channel/UCiRGy_am4r83bXgUKZMItHQ',
 'https://www.youtube.com/channel/UCl_AdkMFUcREpNIDC7AIIXA',
 'https://www.youtube.com/channel/UCY8HtIALDS0PMTe42a1d2lg',
 'https://www.youtube.com/channel/UCnSN93lghrpqNXz9ayodyQA',
 'https://www.youtube.com/channel/UCTOvoiPPbedKgwz72s8GBgw',
 'https://www.youtube.com/channel/UC1SlARiB1JznlSbfDYnliFw',
 'https://www.youtube.com/channel/UCc-JYR8xVkG_aqoxpHvQNww',
 'https://www.youtube.com/channel/UCAzKSODZpDCjZy3rclLbf9g',
 'https://www.youtube.com/channel/UC6yYLtu9UAAbneU5h5iEuHg',
 'https://www.youtube.com/channel/UC7Gi7zxPy4Fvn69RZ0MjcgA',
 'https://www.youtube.com/channel/UCreA2m6tw-ulw-P1OKnxixA',
 'https://www.youtube.com/channel/UC6YkXYC6Uu8rD4I4UPUs_YQ',
 'https://www.youtube.com/channel/UCmtY-cDQW7eUVS4iL2hbO_w',
 'https://www.youtube.com/channel/UCqHXWDqK3CL8fMcQQY8t_OA',
 'https://www.youtube.com/channel/UCcJxsVeJj093lU3V9a4C30A',
 'https://www.youtube.com/channel/UCmNGsdzyrrWVkVGzmt6o4kA',
 'https://www.youtube.com/channel/UCNIomoPKnIqD7uB1AaP9pTg',
 'https://www.youtube.com/channel/UCGbLE5klgWflU7CGoNGyLcA',
 'https://www.youtube.com/channel/UCiy1CwJA3tu2MTR91j8uESQ',
 'https://www.youtube.com/channel/UCdlziXQ_O8knGe93dN7NpCA',
 'https://www.youtube.com/channel/UCRksEbYKw40AOHDK8OnB77Q',
 'https://www.youtube.com/channel/UCTHpOV0pUPaDRqLrlAwvtjw',
 'https://www.youtube.com/channel/UCsRD84iVr2iD8oAp6kMzNLA',
 'https://www.youtube.com/channel/UCHbPJfG9X8CZBWgQvF8z31Q',
 'https://www.youtube.com/channel/UCUwFcTLCR5gBuBCdcm64JAQ',
 'https://www.youtube.com/channel/UCDKVLGjUySsVl0vZuECyW9A',
 'https://www.youtube.com/channel/UCGugDislIG8FBy_Sims1mOw',
 'https://www.youtube.com/channel/UCMvijYSaazsSrK0D-UmXcrQ',
 'https://www.youtube.com/channel/UC3kR0jYwkCczXVnAA2-BLjg',
 'https://www.youtube.com/channel/UCOKwLV7wF9rn_PJ4EQEc20A',
 'https://www.youtube.com/channel/UCD6oxxcrN7UkGN0mc7OIF0A',
 'https://www.youtube.com/channel/UC11LQr1tveRomCINnkdFWyQ',
 'https://www.youtube.com/channel/UCnw1LSmu1_27M2RjXn62k3A',
 'https://www.youtube.com/channel/UCaOTXOfItfhhNa2elHmFyTg',
 'https://www.youtube.com/channel/UCMC3sE74BCvR_UhVl-4urEQ',
 'https://www.youtube.com/channel/UCHLHx5FLACwA4CbNxsnVh1w',
 'https://www.youtube.com/channel/UCAOQlshoDZ8rYCYe-6mqjhw',
 'https://www.youtube.com/channel/UC-TpjcYXVzTcQ_Xl4kMJg4Q',
 'https://www.youtube.com/channel/UCthdWXQ_wdjEpeTLLdBuBag',
 'https://www.youtube.com/channel/UCe4qlQABlvf_mgEyqX_iQJA',
 'https://www.youtube.com/channel/UCHqsm07reRS-I6Qi0xUXukw',
 'https://www.youtube.com/channel/UCZdQ2OONPyTfWhensKHkY6g',
 'https://www.youtube.com/channel/UCOi_2j6SJ7w1hpmPkke-mNA',
 'https://www.youtube.com/channel/UCtj7_sfinesVE9C1xi6Fjcg',
 'https://www.youtube.com/channel/UCnbAbDVyRcrcyaG_rgIsk2g',
 'https://www.youtube.com/channel/UC_GL65NMuaoav-uaNvuErEg',
 'https://www.youtube.com/channel/UCIzjn1QU9kwfDORp_9cOeIg',
 'https://www.youtube.com/channel/UCJodP4RP527W3-PcHPRgivg',
 'https://www.youtube.com/channel/UC9Q18pZpLlgwbZ4kc8LwtEw',
 'https://www.youtube.com/channel/UCUu3vMUm-mOeN1GwfoabqTw',
 'https://www.youtube.com/channel/UCrqPuZsYCsY1Z-bhec-6JWg',
 'https://www.youtube.com/channel/UCSa_MJjAnkTRd14X6kabfFQ',
 'https://www.youtube.com/channel/UC1U9SbQCxHWH2_pzafIlBow',
 'https://www.youtube.com/channel/UCzBz2BhFSL25uYEbQ6MyAtg',
 'https://www.youtube.com/channel/UCLBka25rnAr55PQ8zlCBGUg',
 'https://www.youtube.com/channel/UCctKa6pHYO9JUN6Ez1rP5pA',
 'https://www.youtube.com/channel/UCU1e0yNdcEecXm6EkuXWb-g',
 'https://www.youtube.com/channel/UCnD5X5-tlqFU4FmZe9sdazA',
 'https://www.youtube.com/channel/UCqS4XDZuPar7LJbpH9TzOfA',
 'https://www.youtube.com/channel/UCaqUErHGKP9TnzuYe_4OUJQ',
 'https://www.youtube.com/channel/UCNeVwb7Mh1xSJoe8XbLaNuw',
 'https://www.youtube.com/channel/UCqDL-4FEzkrK351DwhcjpRQ',
 'https://www.youtube.com/channel/UCVJeCBCCI4nTee_EHkBk8Ng',
 'https://www.youtube.com/channel/UC8LdekRMPbdAM7a27XxpEOA',
 'https://www.youtube.com/channel/UChltieQqIvAheFkDQ9gLRVQ',
 'https://www.youtube.com/channel/UCVjVn80WSbebT_LqwWAVkDw',
 'https://www.youtube.com/channel/UCMMrHLzSe2FXzGVlkiSGW7w',
 'https://www.youtube.com/channel/UCcvVEutTvWPAWZ0e_BBR0-Q',
 'https://www.youtube.com/channel/UCjNsJnaI-2A7vOUOOFjdXcA',
 'https://www.youtube.com/channel/UCsNHkkywUvdJXyJQEwDf2OA',
 'https://www.youtube.com/channel/UCpcG5MwAks-At2L-gbSppag']

In [33]:
raw_text = "!!/ world"
new_text = "Hello"

s = re.sub('!!\/', new_text, raw_text)
print (s)

Hello world

In [34]:
l=['hello my name is michael',
    'hello michael is my names',
    'hello michaela is my name',
    'hello my brother is Michaelangelo',
    'hello my name is michelle',
    'hello i am Michael',
    'hello my lastname is michael',
    'hello michael',
    'hello my name is michael brown']

s = "hello my name is michael"

s = s.lower().split()
for item in l:
    d = item.lower().split()
    count = 0
    for ss in s:
        try:
            if ss in d or re.search(ss+"\w+",item.lower()).group() in d:
                count += 1
        except:
            pass
    print (item, count)

hello my name is michael 5
hello michael is my names 5
hello michaela is my name 5
hello my brother is Michaelangelo 4
hello my name is michelle 4
hello i am Michael 2
hello my lastname is michael 4
hello michael 2
hello my name is michael brown 5

In [35]:
strings = 'hello michaela is my name'
string = strings.split()
s = "michael"
zz = re.search("michael\w+",strings).group()
zz

'michaela'

In [36]:
string = "A FAST string searching algorithm"
print (string.upper())
print (string.lower())
print (string.title())

A FAST STRING SEARCHING ALGORITHM
a fast string searching algorithm
A Fast String Searching Algorithm

In [37]:
# final_answer_check = True
while True:
    try:
        final_answer = str(input("Do you want a copy of the answers? "))
        if final_answer.lower() == "no":
            break
    except:
        pass

Do you want a copy of the answers? y
Do you want a copy of the answers? no

In [38]:
while True:
    try:
        a = int(input("A: "))
        op1 = input("First Opporator (+ or -): ")
        if op1 != "+" and op1 != "-":
            print ("\n\nValue Error... Try Again")
            continue
        b = int(input("B: "))
        op2 = input("First Opporator (+ or -): ")
        if op2 != "+" and op2 != "-":
            print ("\n\nValue Error... Try Again")  
            continue
        c = int(input("C: "))
    except ValueError:
        print ("\n\nValue Error... Try Again")
        continue
    print ("\n" + str(a) + "X^2" + op1 + str(b) + "X" + op2 + str(c) + "\n")
    correct_equation = input("Is this Right? (yes or no): ")
    if correct_equation == "yes":
        break


c_factors = []
for i in range(1,c+1):
    if c % i == 0:
        c_factors.append(i) #finds factors of C


if op1 == "-": #turns b negative if op1 is -
    b = -b

if op1 == "-": # turns c negative if op2 is -
    c = -c

print (b,c)

for i in range(1, c+1):
    for x in range(1, c+1):
        if x+i == c or x-i == c or i-x == c:
            print (x)
            print (i)

A: 12
First Opporator (+ or -): +
B: 2
First Opporator (+ or -): +
C: 3

12X^2+2X+3

Is this Right? (yes or no): yes
2 3
2
1
1
2

In [39]:
import pandas as pd
df = pd.DataFrame(columns=['Jeep', 'Volvo', 'Honda'])
s = pd.Series([5, 3, 7, 2],index=['Honda', 'Nissan', 'Jeep', 'Toyota'])
df1 = df.append(s, ignore_index=True)
df1[df.columns].fillna(0)

   Jeep  Volvo  Honda
0   7.0    0.0    5.0

In [40]:
name_of_set = input("")
sets = input("")

setA = "{"
elements = sets.split(" ")
x = ""
for element in elements:
    x += element + ","
x = x[:-1]    
setA += x
setA += "}"

print (name_of_set + " = " + setA)

3
1
3 = {1}

In [349]:
import time

def round_5():
    count = 1
    while count <= 5:
        print ("Count = ",count)
        count += 1
        time.sleep(1)
nextr = "y"
print ("If 5 rounds have passed, enter any other key:")
while nextr.lower() in ("yes","y"): 
    round_5()
    nextr = (input("Do you want to continue to the next round?(Yes/No)"))
print ("Thank you, have a nice day")

If 5 rounds have passed, enter any other key:
Count =  1
Count =  2
Count =  3
Count =  4
Count =  5
Do you want to continue to the next round?(Yes/No)y
Count =  1
Count =  2
Count =  3
Count =  4
Count =  5
Do you want to continue to the next round?(Yes/No)n
Thank you, have a nice day

In [443]:
data = [{'City': ['Solta','Abec'], 'Country': 'Croatia'},
 {'City': 'Greenville', 'Country': 'USA'},
 {'City': 'Buenos Aires', 'Country': 'Argentina'},
 {'City': 'Los Cabos', 'Country': 'Mexico'}]

count = 0
for i in range(len(data)):
    if('City' in data[i].keys()):
        count = count+1
print('No of Cities: ',count)

No of Cities:  4

In [444]:
dfcity = pd.DataFrame(data)
dfcity

            City    Country
0  [Solta, Abec]    Croatia
1     Greenville        USA
2   Buenos Aires  Argentina
3      Los Cabos     Mexico

In [381]:
for d in data:
    print (d)
    for key in d:
        if type(d[key]) != list:
            cls = [d[key]]
        else:
            cls = d[key]
        print (key, len(cls))

{'City': ['Solta', 'Abec'], 'Country': 'Croatia'}
City 2
Country 1
{'City': 'Greenville', 'Country': 'USA'}
City 1
Country 1
{'City': 'Buenos Aires', 'Country': 'Argentina'}
City 1
Country 1
{'City': 'Los Cabos', 'Country': 'Mexico'}
City 1
Country 1

In [394]:
myresult_tv = ['Extinct A Horizon Guide to Dinosaurs WEB h264-WEBTUBE', 'High Noon 2019 04 05 720p HDTV DD5 1 MPEG2-NTb', 'Wyatt Cenacs Problem Areas S02E01 1080p WEBRip x264-eSc', 'Bondi Vet S05E15 720p WEB x264-GIMINI', 'If Loving You Is Wrong S04E03 Randals Stage HDTV x264-CRiMSON', 'Wyatt Cenacs Problem Areas S02E01 WEBRip x264-eSc', 'Bondi Vet S05E15 1080p WEB x264-GIMINI']

li = []
for a in myresult_tv:
    try:
        w = re.search("(.*\d )", a)   # regex = (.*[0-9].)\s+[a-z0-9]
        c = w.group()
        li.append(c)
    except:
        pass

print(li)

['High Noon 2019 04 05 720p HDTV DD5 1 ', 'Wyatt Cenacs Problem Areas S02E01 ', 'Bondi Vet S05E15 ', 'If Loving You Is Wrong S04E03 ', 'Wyatt Cenacs Problem Areas S02E01 ', 'Bondi Vet S05E15 ']

In [41]:
list1 = ['cat','dog','pig']
list2 = ['dog','cat','cat','cat','dog','pig','cat','pig','lion']

print (list2)
# i = 0
for i,item in enumerate(list2):
    if item in list1:
        list2[i] = list1.index(item)
    else:       # in case if the element in list2 is not in list1
        list2[i] = 'NA'
#     i += 1
print (list2)

['dog', 'cat', 'cat', 'cat', 'dog', 'pig', 'cat', 'pig', 'lion']
[1, 0, 0, 0, 1, 2, 0, 2, 'NA']

In [42]:
msg =['hello there http://google.com/p/BvluRHRhN16/ this is a test',
      'hello there https://www.instagram.com/p/BvluRHRhN16/',
      'hello there www.instagram.com/p/BvluRHRhN16/ this is a test',
      'hello there https://www.instagram.net/p/BvluRHRhN16/ this is a test',
      'https://www.instagram.com/p/BvnyDjXnHl5/ hello there',
      'http://google.com/p/BvluRHRhN16/somepaths/instagram.com/p/somepath/'
     ]
for m in msg:
    ms = re.findall('(http.*instagram\.com\/p.+\/|www.*instagram\.com\/p.+\/)',m)
    print(ms)

[]
['https://www.instagram.com/p/BvluRHRhN16/']
['www.instagram.com/p/BvluRHRhN16/']
[]
['https://www.instagram.com/p/BvnyDjXnHl5/']
['http://google.com/p/BvluRHRhN16/somepaths/instagram.com/p/somepath/']

In [43]:
def parse_list(str_x, str_y):
    return list(map(list, zip(map(int, str_x.split(',')), map(int, str_y.split(',')))))
        
str_x = input('x: ')
str_y = input('y: ')
parse_list(str_x, str_y)

x: 4
y: 1

[[4, 1]]

In [44]:
h = [1, 2, 3, 2, 3, 3]
n = [[0], [0, 1], [0, 1, 2], [0], [0, 1], [0]]

z=[[z + x for z in y ]for x , y in zip(h,n)]
z

[[1], [2, 3], [3, 4, 5], [2], [3, 4], [3]]

In [91]:
string ="hello <abc123> python <is456> awesome"
s = re.sub('\<(.+?)\>','lock',string)
print (s)

hello lock python lock awesome

In [406]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup

In [107]:
my_url = "https://www.flashscore.com/football/germany/bundesliga/results/"

uClient = uReq(my_url)
page_html = uClient.read()
page_soup = soup(page_html, "html.parser")

tr = page_soup.find_all("tr")
print (tr)

[<tr><td><a href="#" onclick="loadMoreGames(); return false;">Show more matches</a></td></tr>]

In [431]:
my_url = "https://finance.yahoo.com/quote/AAPL?p=AAPL&.tsrc=fin-srch"
u_client = uReq(my_url)

page_html = u_client.read()
u_client.close()

page_soup = soup(page_html, "html.parser")
for container in page_soup.find_all('span',{"class":"Trsdu(0.3s) Trsdu(0.3s) Fw(b) Fz(36px) Mb(-4px) D(b)"}):
    print (container.text)

197.00

# Selenium

In [518]:
import time, os

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

userhome = os.path.expanduser('~')
browser = webdriver.Chrome(userhome + r'/local-repo/chromedriver')

browser.get("https://www.skroutz.gr/s/15013958/Hasbro-Monopoly-Classic-Game.html")
time.sleep(1)

elem = browser.find_element_by_tag_name("body")

no_of_pagedowns = 20

while no_of_pagedowns:
    elem.send_keys(Keys.PAGE_DOWN)
    time.sleep(0.2)
    no_of_pagedowns-=1

post_elems = browser.find_elements_by_css_selector(".card.js-product-card")

details = []
for post in post_elems:
    price = post.find_element_by_css_selector(".price").text.replace("\n","")
    seller = post.find_element_by_css_selector(".shop-name").text.replace("\n","")
    availability = post.find_element_by_css_selector("p.availability").text.replace("\n","")
    temp = [price, seller, availability]
    details.append(temp)
    print(f'price: {price} seller: {seller} availability: {availability}')

price: 21,48 + 3,00 + 2,00 26,48  seller: Toys24 availability:  1  3
price: 21,98 + 4,50 + 0,00 26,48  seller: Quickshop availability:   /  1  3
price: 21,98 + 3,00 + 2,00 26,98  seller: GamesHero availability:   /  1  3
price: 21,99 + 0,00 + 2,00 23,99  seller: Toycity availability:   /  1  3
price: 22,41 + 3,00 + 2,00 27,41  seller: Besttoys availability:   /  1  3
price: 22,49 + 2,90 + 1,00 26,39  seller: Efantasy availability:   /  1  3
price: 22,49 + 3,00 + 2,00 27,49  seller: Perfectoys availability:   /  1  3
price: 24,90 + 3,00 + 2,00 29,90  seller: My-toy availability:   /  1  3
price: 24,95 + 2,90 + 2,35 30,20  seller: Oikonomou availability:   /  1  3
price: 24,95 + 3,00 + 2,00 29,95  seller: TrenakiToys availability:   /  1  3
price: 24,99 + 3,00 + 1,50 29,49  seller: Toys4u availability:  1  3
price: 24,99 + 1,90 + 1,90 28,79  seller: Eshop4all availability:   /  1  3
price: 24,99 + 3,00 + 2,00 29,99  seller: Toys-shop availability:   /  1  3
price: 24,99 + 3,00 + 2,00 29,99  seller: YuppieToys availability:   /  1  3
price: 24,99 + 3,00 + 2,00 29,99  seller: Happytoys availability:  1  3
price: 26,99 + 3,00 + 2,00 31,99  seller: Bambino baby availability:   /  1  3

In [519]:
details

[['21,48 + 3,00 + 2,00 26,48 ',
  'Toys24',
  ' 1  3 '],
 ['21,98 + 4,50 + 0,00 26,48 ',
  'Quickshop',
  '  /  1  3 '],
 ['21,98 + 3,00 + 2,00 26,98 ',
  'GamesHero',
  '  /  1  3 '],
 ['21,99 + 0,00 + 2,00 23,99 ',
  'Toycity',
  '  /  1  3 '],
 ['22,41 + 3,00 + 2,00 27,41 ',
  'Besttoys',
  '  /  1  3 '],
 ['22,49 + 2,90 + 1,00 26,39 ',
  'Efantasy',
  '  /  1  3 '],
 ['22,49 + 3,00 + 2,00 27,49 ',
  'Perfectoys',
  '  /  1  3 '],
 ['24,90 + 3,00 + 2,00 29,90 ',
  'My-toy',
  '  /  1  3 '],
 ['24,95 + 2,90 + 2,35 30,20 ',
  'Oikonomou',
  '  /  1  3 '],
 ['24,95 + 3,00 + 2,00 29,95 ',
  'TrenakiToys',
  '  /  1  3 '],
 ['24,99 + 3,00 + 1,50 29,49 ',
  'Toys4u',
  ' 1  3 '],
 ['24,99 + 1,90 + 1,90 28,79 ',
  'Eshop4all',
  '  /  1  3 '],
 ['24,99 + 3,00 + 2,00 29,99 ',
  'Toys-shop',
  '  /  1  3 '],
 ['24,99 + 3,00 + 2,00 29,99 ',
  'YuppieToys',
  '  /  1  3 '],
 ['24,99 + 3,00 + 2,00 29,99 ',
  'Happytoys',
  ' 1  3 '],
 ['26,99 + 3,00 + 2,00 31,99 ',
  'Bambino baby',
  '  /  1  3 ']]

In [449]:
from collections import Counter

data = [{'Col_A': 'animal', 'Col_B': ['cat','dog','tiger']},
        {'Col_A': 'place', 'Col_B':['Italy','China','Japan']},
        {'Col_A': 'pets', 'Col_B':['cat','dog']}]

df = pd.DataFrame(data)
s = pd.Series(Counter([y for x in df['Col_B'] for y in x]))
print (s)

China    1
Italy    1
Japan    1
cat      2
dog      2
tiger    1
dtype: int64

In [111]:
text = """2,20190327.1.csv.gz
3,20190327.23.csv.gz
4,20190327.21302.csv.gz
2,20190327.24562.csv.gz"""

splittext = text.split("\n")
splittext

['2,20190327.1.csv.gz',
 '3,20190327.23.csv.gz',
 '4,20190327.21302.csv.gz',
 '2,20190327.24562.csv.gz']

In [125]:
N, B, E = "N", "B", "E"
Data6 = [N, N, N, N, N, N, N]
Data5 = [N, N, N, N, N, N, N]
Data4 = [N, N, N, B, E, N, E]
Data3 = [N, N, N, N, B, E, N]
Data2 = [B, B, B, B, B, B, B]
Data1 = [N, E, N, B, N, N, N]

data = [Data6,
        Data5,
        Data4,
        Data3,
        Data2,
        Data1]

new_data = []
for dt in data:
    new_data = new_data + dt
print (new_data)

['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'B', 'E', 'N', 'E', 'N', 'N', 'N', 'N', 'B', 'E', 'N', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'N', 'E', 'N', 'B', 'N', 'N', 'N']

In [504]:
txt = [[""],[""],[""]]
txt = [[x if not x=="" else 'apples' for x in sublist] for sublist in txt]
txt

[['apples'], ['apples'], ['apples']]

In [130]:
import linecache

test = open('test1.txt', 'w+')
test.write('Test\n')
test.write('True\n')
test.close()
read = linecache.getline('test1.txt', 2)
print(read)
if read == 'True\n':
    print("The line is True")
else:
    print('The line is False')

True

The line is True

In [241]:
import re

arr = ['02/01/2019 The UK prime minister','02-01-2019 The UK prime minister','The UK prime minister in 02/01/2019','02-01-2019 18:52:02 The UK prime minister','2019-01-02 The UK prime minister','2019/01/02 The UK prime minister','2019 01 02 The UK prime minister','2019-01-02 18:52:02 The UK prime minister','2019/01/02 18:52:02 The UK prime minister','2019 01 02 The UK prime minister']

mylist = ["02/01/2019 The UK prime minister",
          "02-01-2019 The UK prime minister",
          "The UK prime minister in 02/01/2019",
          "02-01-2019 18:52:02 The UK prime minister",
          "5/02/2019 The UK prime"]

for d in mylist:
    regex = re.search("[0-9\/\-\:\s]+(\w.*)",d)
    regex = regex.groups()[0]
    print (regex)

The UK prime minister
The UK prime minister
UK prime minister in 02/01/2019
The UK prime minister
The UK prime

In [473]:
import re
def emailfinder(spam):
    emailregx=re.compile(r'[a-zA-Z0-9%_+-.]+\@[a-zA-Z0-9.-]+(\.[a-zA-Z]{2,4})')
    return emailregx.findall(spam)
print(emailfinder('tara9090@gmail.com blah monkey tanbajg@chscv.in'))

['.com', '.in']

In [401]:
line = "WordsAreStickedTogetherHereINeedOneSpaceBetweenThem"
matches = re.finditer("[A-Z][a-z]*", line)
new_line = " ".join(match.group() for match in matches)
print (new_line)

Words Are Sticked Together Here I Need One Space Between Them

In [237]:
import csv
text_data = """HARPER'S [Day 1, 9:00 A.M.]:  When the computer was young, the word hacking was
used to describe the work of brilliant students who explored and expanded the
uses to which this new technology might be employed.  There was even talk of a
\"hacker ethic.\"  Somehow, in the succeeding years, the word has taken on dark
connotations, suggestion the actions of a criminal.  What is the hacker ethic,
and does it survive? 

ADELAIDE [Day 1, 9:25 A.M.]:  the hacker ethic survives, and it is a fraud.  It
survives in anyone excited by technology's power to turn many small,
insignificant things into one vast, beautiful thing.  It is a fraud because
there is nothing magical about computers that causes a user to undergo
religious conversion and devote himself to the public good.  Early automobile
inventors were hackers too.  At first the elite drove in luxury.  Later
practically everyone had a car.  Now we have traffic jams, drunk drivers, air
pollution, and suburban sprawl.  The old magic of an automobile occasionally
surfaces, but we possess no delusions that it automatically invades the
consciousness of anyone who sits behind the wheel.  Computers are power, and
direct contact with power can bring out the best or worst in a person.  It's
tempting to think that everyone exposed to the technology will be grandly
inspired, but, alas, it just ain't so.

BRAND [Day 1, 9:54 A.M.]:  The hacker ethic involves several things.  One is
avoiding waste; insisting on using idle computer power -- often hacking into a
system to do so, while taking the greatest precautions not to damage the
system.  A second goal of many hackers is the free exchange of  technical
information.  These hackers feel that patent and copyright restrictions slow
down technological advances.  A third goal is the advancement of human
knowledge for its own sake.  Often this approach is unconventional.  People we
call crackers often explore systems and do mischief.  The are called hackers by
the press, which doesn't understand the issues.

KK [Day 1, 11:19 A.M.]:  The hacker ethic went unnoticed early on because the
explorations of basement tinkerers were very local.  Once we all became
connected, the work of these investigations rippled through the world.  today
the hacking spirit is alive and kicking in video, satellite TV, and radio.  In
some fields they are called chippers, because the modify and peddle altered
chips.  Everything that was once said about \"phone phreaks\" can be said about
them too."""

argument = re.findall("(?P<presenter>[A-Z|']+).\[(?P<time>\w.+)\].\s+(?P<text>[\w\W]*?)(?=\n\n|\Z)",text_data)

# save in csv file
with open("presenter.csv","w") as mycsv:
    writers = csv.writer(mycsv)
    header = ['presenter','time','text']
    writers.writerow(header)
    for item in argument:
        writers.writerow(item)

#save in dictionary
mydict = {'presenter':[],'time':[],'text':[]}
for i in argument:
    mydict['presenter'].append(i[0])
    mydict['time'].append(i[1])
    mydict['text'].append(i[2])
mydict

{'presenter': ["HARPER'S", 'ADELAIDE', 'BRAND', 'KK'],
 'text': ['When the computer was young, the word hacking was\nused to describe the work of brilliant students who explored and expanded the\nuses to which this new technology might be employed.  There was even talk of a\n"hacker ethic."  Somehow, in the succeeding years, the word has taken on dark\nconnotations, suggestion the actions of a criminal.  What is the hacker ethic,\nand does it survive? ',
  "the hacker ethic survives, and it is a fraud.  It\nsurvives in anyone excited by technology's power to turn many small,\ninsignificant things into one vast, beautiful thing.  It is a fraud because\nthere is nothing magical about computers that causes a user to undergo\nreligious conversion and devote himself to the public good.  Early automobile\ninventors were hackers too.  At first the elite drove in luxury.  Later\npractically everyone had a car.  Now we have traffic jams, drunk drivers, air\npollution, and suburban sprawl.  The old magic of an automobile occasionally\nsurfaces, but we possess no delusions that it automatically invades the\nconsciousness of anyone who sits behind the wheel.  Computers are power, and\ndirect contact with power can bring out the best or worst in a person.  It's\ntempting to think that everyone exposed to the technology will be grandly\ninspired, but, alas, it just ain't so.",
  "The hacker ethic involves several things.  One is\navoiding waste; insisting on using idle computer power -- often hacking into a\nsystem to do so, while taking the greatest precautions not to damage the\nsystem.  A second goal of many hackers is the free exchange of  technical\ninformation.  These hackers feel that patent and copyright restrictions slow\ndown technological advances.  A third goal is the advancement of human\nknowledge for its own sake.  Often this approach is unconventional.  People we\ncall crackers often explore systems and do mischief.  The are called hackers by\nthe press, which doesn't understand the issues.",
  'The hacker ethic went unnoticed early on because the\nexplorations of basement tinkerers were very local.  Once we all became\nconnected, the work of these investigations rippled through the world.  today\nthe hacking spirit is alive and kicking in video, satellite TV, and radio.  In\nsome fields they are called chippers, because the modify and peddle altered\nchips.  Everything that was once said about "phone phreaks" can be said about\nthem too.'],
 'time': ['Day 1, 9:00 A.M.',
  'Day 1, 9:25 A.M.',
  'Day 1, 9:54 A.M.',
  'Day 1, 11:19 A.M.']}

In [238]:
argument[0][2].replace("\n"," ")

'When the computer was young, the word hacking was used to describe the work of brilliant students who explored and expanded the uses to which this new technology might be employed.  There was even talk of a "hacker ethic."  Somehow, in the succeeding years, the word has taken on dark connotations, suggestion the actions of a criminal.  What is the hacker ethic, and does it survive? '

In [239]:
import pandas as pd
df = pd.read_csv("presenter.csv")
df

,presenter,time,text
0,HARPER'S,"Day 1, 9:00 A.M.","When the computer was young, the word hacking ..."
1,ADELAIDE,"Day 1, 9:25 A.M.","the hacker ethic survives, and it is a fraud. ..."
2,BRAND,"Day 1, 9:54 A.M.",The hacker ethic involves several things. One...
3,KK,"Day 1, 11:19 A.M.",The hacker ethic went unnoticed early on becau...

In [404]:
df1 = pd.DataFrame( [['tom', 10], ['nick', 15], ['juli', 14]] ,  columns = ['Name', 'Age'])
df2 = pd.DataFrame([['tom', 10], ['nick', 15], ['juli', 14]] ,  columns = ['Name', 'Age'])
df3 = pd.DataFrame([['tom', 10], ['nick', 15], ['juli', 14]] ,  columns = ['Name', 'Age'])
df4 = pd.DataFrame([['tom', 10], ['nick', 15], ['juli', 14]] ,  columns = ['Name', 'Age'])

print(pd.concat([df1, df2, df3, df4]))

   Name  Age
0   tom   10
1  nick   15
2  juli   14
0   tom   10
1  nick   15
2  juli   14
0   tom   10
1  nick   15
2  juli   14
0   tom   10
1  nick   15
2  juli   14

# NLP

In [140]:
import requests
from bs4 import BeautifulSoup as bs

url = "http://www.ums.ac.id/en/launching-pmb-2019-rector-ums-ods-system-garnered-trust-people"
html = requests.get(url).text
soup = bs(html, 'html.parser')

news = []
for data in soup.find_all('div', {"class":"clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"}):
    for par in data.find_all('p', {"class":"text-align-justify"}):
        news.append(par.text)

In [142]:
import spacy
from spacy import displacy
nlp = spacy.load('en_core_web_lg') # install 'en' model (python3 -m spacy download en)

In [158]:
for n in news:
    doc = nlp(n)
    label = []
    for i in doc.ents:
        label.append(i.label_)
    if label != []:
        print(displacy.render(doc, style='ent', jupyter=True))
    else:
        pass

None

None

None

None

None

None

None

None

None